<div class="field" style="margin-top: 30px;">
    <label class="label">Host/IP</label>
    <div class="control">
        <input name="ip" class="input" required='true' autocomplete='off' type="text"
            placeholder="Host name or IP" value="{{targets[edittarget]['ip']}}"
            size="15">
    </div>
</div>
<div class="field">
    <label class="label">Port</label>
    <div class="control">
        <input name="port" class="input" required='true' autocomplete='off' type="number" placeholder="104"
            minlength="2" maxlength="5" value="{{targets[edittarget]['port']}}">
    </div>
</div>
<div class="field">
    <label class="label">AET Target</label>
    <div class="control">
        <input name="aet_target" class="input" required='true' autocomplete='off' type="text"
            placeholder="Calling AET" value="{{targets[edittarget]['aet_target']}}"
            pattern="[A-Za-z0-9_-]+">
    </div>
</div>
<div class="field">
    <label class="label">AET Source</label>
    <div class="control">
        <input name="aet_source" class="input" required='true' autocomplete='off' type="text"
            placeholder="Outgoing AET" value="{{targets[edittarget]['aet_source']}}"
            pattern="[A-Za-z0-9_-]+">
    </div>
</div>