<tr>
    <td>Type:</td>
    <td>DICOM Node</td>
</tr>
<tr>
    <td>Host/IP:</td>
    <td>{{ targets[x].ip }}</td>
</tr>
<tr>
    <td>Port:</td>
    <td>{{ targets[x].port }}</td>
</tr>
<tr>
    <td>AET Target:</td>
    <td>{{ targets[x].aet_target }}</td>
</tr>
<tr>
    <td>AET Source:</td>
    <td>{{ targets[x].aet_source }}</td>
</tr>
<tr>
    <td>TLS Key:</td>
    <td>{{ targets[x].tls_key }}</td>
</tr>
<tr>
    <td>TLS Certificate:</td>
    <td>{{ targets[x].tls_cert }}</td>
</tr>
<tr>
    <td>CA Certificate:</td>
    <td>{{ targets[x].ca_cert }}</td>
</tr>
