{% extends "base.html" %}

{% block extra_nav %} 
<section>
<div class="container">
<div class="tabs logtabs" style="margin-top: 40px;">
    <ul>
      <!-- <li class="{% if page == 'query' %}is-active{% endif %}"><a href="query">DICOM Query</a></li> -->
      {% if is_admin %}
      <li class="{% if tab == 'tests' %}is-active{% endif %}"><a href="tests">Self-Test</a></li>
      {% endif %}
      <!-- <li class="{% if page == 'tasks' %}is-active{% endif %}"><a href="tasks">Tasks</a></li> -->

    </ul>
  </div>
  </div>
</section>
{% endblock %}

{% block content %}
{% block dashboard_content %} 
{% endblock %}

{% endblock %}
