{% extends "dashboards/dashboards.html" %}

{% block title %}Query{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{{ url_for('static', path='DataTables/datatables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='DataTables/datatables.min.css') }}"/>  
    <script type="text/javascript" src="{{ url_for('static', path='/js/bulma-quickview.min.js') }}"></script>    
{% endblock %}

{% block dashboard_content %}
<main role="main">
    <h1 class="title is-4">DICOM Query</h1>
    <div class="container">
      {% if not request.state.redis_connected %}
      <div id="redis-unavailable" class="notification is-danger">
        Redis connection not available, so this dashboard will not function.
      </div>
      {% endif %}
      <div id="backend-error" class="notification is-danger is-hidden">
        A communication error with the backend has occurred. Check console logs.
      </div>

        <form class="box" id="form">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Accession Number</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="control">
                        <input name="accession" class="input" type="text" placeholder="00000" value="">
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Study Description</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="control">
                        <input name="study_description" class="input" type="text" placeholder="" value="">
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Series Description</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="control">
                        <input name="series_description" class="input" type="text" placeholder="" value="">
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Dicom Node</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="select">
                        <select name="dicom_node">
                          {% for node in dicom_nodes %}
                              <option>{{ node }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Destination</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="select">
                        <select name="destination">
                          <option value="">Mercure</option>
                          <option disabled>————————</option>
                          {% for destination in destination_folders %}
                          <option>{{ destination }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Off-Peak</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded" style="padding-top: .375em;">
                      <input type="checkbox" id="offpeak" name="offpeak" value="" class="switch is-dark is-rounded">
                      <label for="offpeak"></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <!-- Left empty for spacing -->
              </div>
              <div class="field-body" style="margin-top: 10px;">
                <div class="field">
                  <div class="control">
                    <button type="submit" id="get-accessions-button" class="button is-success">
                      <i class="fas fa-check"></i>&nbsp;Submit Query
                    </button>
                    <button type="button" id="check-accessions-button" class="button is-dark">
                      <i class="fas fa-question"></i>&nbsp;Check Accessions
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="tabs logtabs" id="query_result_tabs" style="margin-bottom: 30px;">
            <ul>
              <li class="is-active"><a data-tab="get-accessions">Query Status</a></li>
              <li><a data-tab="check-accessions">Check Accessions</a></li>
            </ul>
          </div>
          <div id="get-accessions" class="tab-content">
            <table id="get-accessions-table" class="table is-narrow is-hoverable is-fullwidth jobtable">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Created at</th>
                        <th>Accession</th>
                        <th>Result</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
          </div>
          <div id="check-accessions" class="tab-content" style="display:none;">
            <table id="check-accessions-table" class="table is-narrow is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>Accession</th>
                  <th>Study Description</th>
                  <th>Series Description</th>
                  <th>Instances</th>
                </tr>
              </thead>
            </table>
          </div>
    </div>
  </div> 

</main>
<script>
$(document).ready(function () {
    // Add tab functionality
    $('#query_result_tabs a').on('click', function(e) {
        e.preventDefault();
        // Remove active class from all tabs
        $('#query_result_tabs li').removeClass('is-active');
        // Add active class to clicked tab
        $(this).parent().addClass('is-active');

        // Hide all tab content
        $('.tab-content').hide();
        // Show corresponding tab content
        $('#' + $(this).data('tab')).show();
    });

    // // Show the first tab by default
    // $('#query-results').show();


  function namespacedEvents(config) {
          var unique = config._eventNamespace;
          return 'draw.dt.DT' + unique + ' select.dt.DT' + unique + ' deselect.dt.DT' + unique;
    }
    var _buttonNamespace = 0;
    my_selected_button = {
      text: 'Selected',
      className: 'buttons-selected',
          enabled: function(dt,config) {
              rows = dt.rows({ selected: true });
              return rows.any();
          },
      init: function (dt, node, config) {
        var that = this;
        config._eventNamespace = '.select' + _buttonNamespace++;
        // .DT namespace listeners are removed by DataTables automatically
        // on table destroy
        // console.log(config);
        dt.on(namespacedEvents(config), function () {
          that.enable(config.enabled(dt, node, config));
        });

        this.disable();
      },
      destroy: function (dt, node, config) {
        dt.off(config._eventNamespace);
    }}

    $.fn.dataTable.ext.buttons.customEnable = my_selected_button;
    $('#get-accessions-button').on('click', async function(e) {
      e.preventDefault();
      $('a[data-tab="get-accessions"]').click();
      if (! $('input[name=\'accession\']').val()) { 
        alert('Accession number required!');
        return false 
      };
      var body = new FormData(document.querySelector("#form"));
      try {
        result = await fetch("query", {
          method:"POST",
          body: body
        })
        result_json = await result.json();
        if (result_json.error) {
          alert(`Error: ${result_json.error}`);
          return;
        }
        window.get_accessions_table.ajax.reload();
      } catch (err) {
        alert(`Unexpected error`);
        console.error(err);
      }
    });

    window.get_accessions_table = $('#get-accessions-table').DataTable({           
        dom: "<'columns row browsertoolbar align-items-end'<'column col-sm-12 col-md-7 browserbuttons'B><'column col-sm-12 col-md-2'><'column col-sm-12 col-md-3'f>>" + "<'columns row'<'column col-sm-12'tr>>" + "<'columns row browserfooterbar'<'column col-sm-12 col-md-5'l><'column col-sm-12 col-md-7'p>>",
        ajax: "query/jobs",
        deferRender: true,
        columns: [
            {
                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
            { data: 'id' },
            { data: 'meta', render: data => (data["type"]? data["type"]:"") + (data["offpeak"]? " (offpeak)":"")},
            { data: 'status' },
            { data: 'created_at', render: data => `<span style="display:none;">${data || Date.now()}</span>`+(data? new Date(data).toLocaleString("en-US"):"")},
            { data: 'parameters', render: data => data["accession"] || ""},
            { data: 'result' },
            { data: 'progress'},
        ],
        select: {
            selector:'td:not(:first-child)',
            style: 'os'
        },
        language: {
            "emptyTable": "No query records."
        },
        // filter: true,
        buttons: [
        {
          text: '<i class="fas fa-sync"></i>&nbsp;Refresh',
          action: function ( e, dt, button, config ) {
            dt.ajax.reload();
          }
        },
        {
          extend: "customEnable",
          text: '<i class="fas fa-cog"></i>&nbsp;Retry',
          titleAttr: 'Retry',
          enabled: function(dt, node, config) {
            let data = dt.row({selected: true}).data();
            if (!data) {
                return false;
            }
            return data.status == "failed";
          },
          action: function ( e, dt, node, config ) {
            let data = dt.row({selected: true}).data();
            fetch(`query/retry_job?id=${data.id}`, {method:"POST"}).then(()=>{
                  dt.ajax.reload()
              }).catch((err)=>{
                  console.log("Error: ", err)
              })
          }
          },
          {
            extend: "customEnable",
            text: '<i class="fas fa-pause"></i>&nbsp;Pause',
            titleAttr: 'Pause/Resume',
            enabled: function(dt, node, config) {
              let data = dt.row({selected: true}).data();
              if (!data) {
                  return false;
              }
              if (data.status == "paused") {
                node.html('<i class="fas fa-play"></i>&nbsp;Resume')
              } else {
                node.html('<i class="fas fa-pause"></i>&nbsp;Pause')
              }
              return (data.status == "paused" || data.status == "deferred" || data.status == "queued" || data.status == "running");
            },
            action: function (e, dt, node, config) {
                let data = dt.row({selected: true}).data();
                
                if (data.status == "paused") {
                  operation = "resume";
                } else if (data.status == "deferred" || data.status == "running" || data.status == "queued")  {
                  operation = "pause";
                } else {
                  alert("???");
                  return;
                }
                fetch(`query/${operation}_job?id=${data.id}`, {method:"POST"}).then(()=>{
                    dt.ajax.reload()
                }).catch((err)=>{
                    console.log("Error: ", err)
                })
            }
        },
        ],
        order: [[4, 'desc']],
        initComplete: function() {}
    });

    $.fn.dataTable.ext.errMode = 'throw';
    $('#get-accessions-table').on('error.dt', function(e, settings, techNote, message) {
      console.log( 'An error has been reported by DataTables: ', message);
      $('#backend-error').removeClass("is-hidden");
    })    

    var jobId;
    var errMessage;
    var accessionTableConfig = {
        columns: [{ data: 'AccessionNumber' }, {data: 'StudyDescription'},  { data: 'SeriesDescription' }, {data: 'NumberOfSeriesRelatedInstances'}], 
        order: [[0, 'asc']],
        pageLength: 25,
        language: { "emptyTable": ()=> errMessage || "No series found or query in progress." } 
    }
    var checkAccessionsTimer;
    var checkAccessionsTimeout;
    window.check_accessions_table = $('#check-accessions-table').DataTable(accessionTableConfig);
    window.check_accessions_table.draw();
    $('#check-accessions-button').on('click', function(e) {
        e.preventDefault();
        $('a[data-tab="check-accessions"]').click();
        if (jobId) {
          alert("whoops");
        }
        var accessions = $('input[name="accession"]').val();
        var dicomNode = $('select[name="dicom_node"]').val();

        if (!accessions) {
          alert("Accession number required!");
          return;
        }
        errMessage = null;
        if ($.fn.DataTable.isDataTable('#check-accessions-table')) {
            $('#check-accessions-table').DataTable().destroy();
        }
        checkAccessionsTimeout = setTimeout(function() {
            if (checkAccessionsTimer) { 
              clearTimeout(checkAccessionsTimer);
              checkAccessionsTimer = null;
              jobId = null;
              errMessage = "Timeout waiting for response from server. Please try again later.";
              $('#form button').removeAttr('disabled');
              window.check_accessions_table.draw();
            }
        }, 5000);
        accessionTableConfig.ajax = {
          url: "query/check_accessions",
          type: "POST",
          data: function(d) {
              return {
                  accessions: accessions,
                  series_description: $('input[name="series_description"]').val(),
                  study_description: $('input[name="study_description"]').val(),
                  dicom_node: dicomNode,
                  job_id: jobId
              };
          },
          dataSrc: function(json) {
              // console.log("Data: ", json)
              if (json.status === "pending") {
                  jobId = json.job_id;
                  checkAccessionsTimer = setTimeout(function() {
                      $('#check-accessions-table').DataTable().ajax.reload();
                  }, 500);
                  errMessage = "Loading..."
                  return [];
              } else if (json.status === "completed") {
                checkAccessionsTimer = null
                jobId = null;
                errMessage = null;
                clearTimeout(checkAccessionsTimeout)
                $('#form button').removeAttr('disabled');
                return json.result;
              } else if (json.status === "failed") {
                errMessage = json.info;
              } else {
                errMessage = "Unknown error"
              }
              $('#form button').removeAttr('disabled');
              checkAccessionsTimer = null
              jobId = null;
              clearTimeout(checkAccessionsTimeout)
              return [];
          }
      }
      $('#form button').attr('disabled','disabled')
      window.check_accessions_table = $('#check-accessions-table').DataTable(accessionTableConfig);
      $('#check-accessions-result').show();
    });

    window.get_accessions_table.on('click', 'td.dt-control', function (e) {
      let tr = e.target.closest('tr');
      let row = window.get_accessions_table.row(tr);
  
      if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
      }
      else {
          // Open this row
          fetch("query/job_info?id="+row.data().id, {method: "GET"}
            ).then(
              response => response.text()
            ).then(data=>{
              row.child(data).show();
            }).catch(err => {
              console.error('Error:', err); alert(err);
            });
      }
  });
});
</script>
{% endblock %}