{% extends "dashboards/dashboards.html" %}

{% block title %}Query{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{{ url_for('static', path='DataTables/datatables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='DataTables/datatables.min.css') }}"/>  
{% endblock %}

{% block dashboard_content %}
<main role="main">
    <h1 class="title">DICOM Query</h1>
    <div class="container">
        <form class="box" id="form" hx-post="query" hx-target="#query_result" hx-swap="innerHTML">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Accession</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="control">
                        <input name="accession" class="input" type="text" placeholder="00000" value="">
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Dicom Node</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="select">
                        <select name="dicom_node">
                          {% for node in dicom_nodes %}
                          <option>{{ node.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Destination</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <div class="select">
                        <select name="destination">
                          <option>Mercure</option>
                          <option disabled>————————</option>
                          {% for destination in destination_folders %}
                          <option>{{ destination.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Offpeak</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded">
                    <label class="checkbox">
                      <input type="checkbox" id="offpeak" name="offpeak" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <!-- Left empty for spacing -->
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button type="submit" class="button is-primary">
                      Query
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div id="query_result"></div>
        <div class="columns">

        <div class="column">
            <table class="table is-narrow is-hoverable is-fullwidth jobtable" id="casetable">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>type</th>
                        <th>status</th>
                        <th>created_at</th>
                        <th>accession</th>
                        <th>result</th>
                        <th>progress</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
            </div>
    </div>
  </div> 

</main>
<script>
$(document).ready(function () {      
    $("#form").on('htmx:afterOnLoad', (event) => {
        datatable.ajax.reload();
  });

  function namespacedEvents(config) {
        var unique = config._eventNamespace;
        return 'draw.dt.DT' + unique + ' select.dt.DT' + unique + ' deselect.dt.DT' + unique;
  }
    var _buttonNamespace = 0;
    my_selected_button = {
		text: 'Selected',
		className: 'buttons-selected',
        enabled: function(dt,config) {
           rows = dt.rows({ selected: true });
           return rows.any();
        },
		init: function (dt, node, config) {
			var that = this;
			config._eventNamespace = '.select' + _buttonNamespace++;
			// .DT namespace listeners are removed by DataTables automatically
			// on table destroy
      // console.log(config);
			dt.on(namespacedEvents(config), function () {
				that.enable(config.enabled(dt, node, config));
			});

			this.disable();
		},
		destroy: function (dt, node, config) {
			dt.off(config._eventNamespace);
		}}

    $.fn.dataTable.ext.buttons.customEnable = my_selected_button;

    window.datatable = $('#casetable').DataTable({           
        dom: "<'row browsertoolbar align-items-end'<'col-sm-12 col-md-7 browserbuttons'B><'col-sm-12 col-md-2'><'col-sm-12 col-md-3'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row browserfooterbar'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
        ajax: "query/jobs",
        deferRender: true,
        columns: [
            {
                className: 'dt-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
            { data: 'id' },
            { data: 'meta', render: data => (data["type"]? data["type"]:"") + (data["offpeak"]? " (offpeak)":"")},
            { data: 'status' },
            { data: 'created_at', render: data => `<span style="display:none;">${data || Date.now()  }</span>`+(data? new Date(data).toLocaleString("en-US"):"")},
            { data: 'parameters', render: data => data["accession"] || ""},
            { data: 'result' },
            { data: 'progress'},
        ],
        select: {
            selector:'td:not(:first-child)',
            style: 'os'
        },
        language: {
            "emptyTable": "No messages available on server."
        },
        // filter: true,
        buttons: [
        {
                    extend: "customEnable",
                    text: '<i class="fas fa-sync"></i>&nbsp;Retry',
                    titleAttr: 'test',
                    enabled: function(dt, node, config) {
                      let data = dt.row({selected: true}).data();
                      if (!data) {
                          return false;
                      }
                      return data.status == "failed"
                    },
                    action: function ( e, dt, node, config ) {
                      let data = dt.row({selected: true}).data();
                      fetch(`query/retry_job?id=${data.id}`, {method:"POST"}).then(()=>{
                            dt.ajax.reload()
                        }).catch((err)=>{
                            console.log("Error: ", err)
                        })
                    }
          },
          {
                    extend: "customEnable",
                    text: '<i class="fas fa-pause"></i>&nbsp;Pause',
                    titleAttr: 'Pause/Resume',
                    enabled: function(dt, node, config) {
                      let data = dt.row({selected: true}).data();
                      if (!data) {
                          return false;
                      }
                      if (data.status == "paused") {
                        node.html('<i class="fas fa-play"></i>&nbsp;Resume')
                      } else {
                        node.html('<i class="fas fa-pause"></i>&nbsp;Pause')
                      }
                      return (data.status == "paused" || data.status == "deferred" || data.status == "queued" || data.status == "running");
                    },
                    action: function (e, dt, node, config) {
                        let data = dt.row({selected: true}).data();
                        
                        if (data.status == "paused") {
                          operation = "resume";
                        } else if (data.status == "deferred" || data.status == "running" || data.status == "queued")  {
                          operation = "pause";
                        } else {
                          alert("???");
                          return;
                        }
                        fetch(`query/${operation}_job?id=${data.id}`, {method:"POST"}).then(()=>{
                            dt.ajax.reload()
                        }).catch((err)=>{
                            console.log("Error: ", err)
                        })
                    }
                },
        ],
        order: [[4, 'desc']],
        initComplete: function() {             
        }
    });
    window.datatable.on('click', 'td.dt-control', function (e) {
      let tr = e.target.closest('tr');
      let row = window.datatable.row(tr);
  
      if (row.child.isShown()) {
          // This row is already open - close it
          row.child.hide();
      }
      else {
          // Open this row
          fetch("query/job_info?id="+row.data().id, {method: "GET"}
            ).then(
              response => response.text()
            ).then(data=>{
              row.child(data).show();
            });
      }
  });
});
</script>
{% endblock %}