# base
mypy 
typing_extensions

# logging / monitoring
graphyte
daiquiri

# documentation
sphinx
sphinx-rtd-theme

# testing
pytest
pyfakefs
pytest-mock

# user interface
aiofiles
jinja2
starlette
uvicorn
itsdangerous
python-multipart
distro
passlib
sqlalchemy
databases
databases[postgresql]
psycopg2-binary
asyncpg

# processing
docker
python-nomad

# other
pydicom
