# base
mypy<1.9.0
typing_extensions
hupper
watchdog
dataclasses; python_version < '3.7'
mako>=1.2.2
alembic
wheel>=0.38.1

# logging / monitoring
graphyte
influxdb_client
daiquiri
aiohttp>=3.10.2
types-requests

# documentation
sphinx==5.0.0
sphinx-rtd-theme

# testing
pytest
pyfakefs ~= 4.5.5
pytest-mock
pytest-subprocess


# user interface
aiofiles
jinja2
types-Jinja2
# 0.15.0 breaks session management; the next commit after 0.18 will include the fix
starlette ~= 0.28; 
starlette-auth-toolkit
uvicorn == 0.16.0
itsdangerous
python-multipart
distro
passlib
sqlalchemy<=1.4.52
databases
# databases[postgresql]
databases[aiopg]<=0.8.0
psycopg2
asyncpg
starlette-decoRouter

# processing
docker
python-nomad

# other
pydicom ~= 2.4.1
pydantic >= 1.10.9, <2.0.0
pillow >= 10.0.1
dicomweb-client
boto3
freezegun
certifi>=2024.07.04
future>=0.18.3
lxml>=4.9.1
pyxnat
urllib3>=2.2.2
