# base
mypy 
typing_extensions
hupper
watchdog
dataclasses; python_version < '3.7'
alembic

# logging / monitoring
graphyte
daiquiri
requests
types-requests

# documentation
sphinx
sphinx-rtd-theme

# testing
pytest
pyfakefs
pytest-mock

# user interface
aiofiles
jinja2
types-Jinja2
starlette
uvicorn == 0.16.0
itsdangerous
python-multipart
distro
passlib
sqlalchemy
databases
databases[postgresql]
psycopg2
asyncpg

# processing
docker
python-nomad

# other
pydicom
pydantic