# base
mypy 
typing_extensions
hupper
watchdog
dataclasses; python_version < '3.7'
mako>=1.2.2
alembic
wheel>=0.38.1

# logging / monitoring
graphyte
daiquiri
aiohttp>=3.8.5
types-requests

# documentation
sphinx==5.0.0
sphinx-rtd-theme

# testing
pytest
pyfakefs ~= 4.5.5
pytest-mock
pytest-subprocess


# user interface
aiofiles
jinja2
types-Jinja2
# 0.15.0 breaks session management; the next commit after 0.18 will include the fix
starlette ~= 0.28; 
starlette-auth-toolkit
uvicorn == 0.16.0
itsdangerous
python-multipart
distro
passlib
sqlalchemy
databases
# databases[postgresql]
databases[aiopg]
psycopg2
asyncpg
starlette-decoRouter

# processing
docker
python-nomad

# other
pydicom ~= 2.4.1
pydantic >= 1.10.9, <2.0.0
pillow >= 9.2.0
pyxnat
dicomweb-client
boto3
freezegun
certifi>=2023.07.22
