{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="container">
    <h1 class="title">System Status</h1>

    <div class="columns">
      <div class="column">    
        <div class="field is-grouped is-grouped-multiline">
          {% for service in service_status %}
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">{{ service_status[service]["name"] }}</span>
              <span {% if service_status[service]["running"]=="True" %} class="tag is-success">UP{% else %} class="tag is-danger">DOWN{% endif %}</span>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="columns" style="margin-top: 10px;">
          <div class="column is-one-third">    
            <label class="label">Diskspace:</label>
            <progress class="progress {% if used_space|int < 60 %}is-success{% else %}{% if used_space|int > 80 %} is-danger{% else %}is-warning{% endif %}{% endif %}" value="{{used_space}}" max="100"></progress>{{free_space}} / {{total_space}} GB available
          </div>
        </div>
      </div>
    </div>

  </div>

</main>
{% endblock %}
