{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <h1 class="title">Edit Rule - {{rule}}</h1>

    <form method="post">
        <div class="field">
            <label class="label">Routing Rule</label>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input name="rule" class="input" autocomplete='off' type="text" placeholder="Routing rule" value="{{rules[rule]['rule']}}">
                </div>
                <div class="control">
                    <a class="button is-dark">
                        <i class="fas fa-flask"></i>&nbsp;Test
                    </a>
                    <button class="button" type="button" onclick="showTagList()" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                        <i class="fab fa-sistrix"></i>&nbsp;Tags
                    </button>
                </div>            
            </div>
            <div class="control">
            </div>
        </div>        
        <div class="field">
            <label class="label">Target</label>
            <div class="select">
                <div class="control">
                    <select name="target">
                        {% for t in targets %}
                        <option value="{{t}}" {% if rules[rule]['target']==t %}selected{% endif%}>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>                
        <div class="field">
            <label class="label">Disabled</label>
            <div class="select">
                <div class="control">
                    <select name="disabled">
                        <option value="False" {% if rules[rule]['disabled']!='True' %}selected{% endif%}>False</option>
                        <option value="True" {% if rules[rule]['disabled']=='True' %}selected{% endif%}>True</option>
                    </select>
                </div>
            </div>
        </div>      
        <div class="field">
            <label class="label">Contact Email</label>
            <div class="control">
                <input name="contact" class="input" autocomplete='off' type="email" placeholder="Email address" value="{{rules[rule]['contact']}}">
            </div>
        </div>            
        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
                <textarea name="comment" class="textarea" autocomplete='off' placeholder="Rule description">{{rules[rule]['comment']}}</textarea>
            </div>
        </div>
        <div class="field">
            <p class="control buttons" style="margin-top: 30px;">
            <button type="submit" class="button is-success" value="default action">
                <i class="fas fa-save"></i>&nbsp;Save
            </button>
            <a class="button" href="/rules" ><i class="fas fa-ban"></i>&nbsp;Cancel</a>
            </p>
        </div>
    </form>
  </div>
</main>

<div class="modal" id="taglist">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Information</p>
        </header>
        <section class="modal-card-body">
                <div class="table-container">
                    <label class="label">Examples:</label>
                    <table class="table is-fullwidth is-hoverable is-bordered">
                        <tr><td>(@Modality@ == 'MR') and ('GRASP' in @StudyDescription@)</td></tr>
                        <tr><td>(float(@SeriesNumber@) > 100) or (@ScanningSequence@.lower()=='gr')</td></tr>
                    </table>
                </div>
                <div class="table-container">
                <label class="label">Available tags:</label>
                <table class="table is-fullwidth is-hoverable is-bordered">
                   <tr><td><button class="button is-small is-dark" value="@ModalityName@" onclick="copyTag(this.value)">Copy</button> &nbsp;&nbsp;@ModalityName@</td></tr>
                   <tr><td><button class="button is-small is-dark" value="@SeriesName@" onclick="copyTag(this.value)">Copy</button> &nbsp;&nbsp;@SeriesName@</td></tr>
                </table>
            </div>
            <input type="text" id="copyinput" value="test" style="display: none;">
        </section>
        <footer class="modal-card-foot buttons is-centered">
            <button class="button" type="button" default autofocus id="closetaglist" onclick="closeTagList()">Close</button>
        </footer>
    </div>
</div>

<script>

function showTagList() { 
    $("#taglist").addClass("is-active");
    $("#closetaglist").focus();
}

function closeTagList() { 
    $("#taglist").removeClass("is-active");  
}

function copyTag(value) { 
    $("#copyinput").val(value);
    $("#copyinput").css("display","block");

    var copyText = document.getElementById("copyinput");
    copyText.select();
    document.execCommand("copy");

    $("#taglist").removeClass("is-active");  
    $("#copyinput").css("display","none");
}

</script>

{% endblock %}
