{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <h1 class="title">Edit Rule - {{rule}}</h1>

    <form method="post">
        <div class="field">
            <label class="label">Routing Rule</label>
            <div class="field has-addons">
                <div class="control">
                    <button class="button" type="button" onclick="showTestRule()" title="Test rule">
                        <i class="fas fa-cogs "></i>
                    </button>
                </div>        
                <div class="control is-expanded">
                    <input name="rule" id="rule" pattern="[^{}\x22]+" class="input" autocomplete='off' type="text" placeholder="Routing rule" value="{{rules[rule]['rule']}}">
                </div>
            </div>
        </div>   
        <div class="field">
            <label class="label">Target</label>
            <div class="select">
                <div class="control">
                    <select name="target">
                        {% for t in targets %}
                        <option value="{{t}}" {% if rules[rule]['target']==t %}selected{% endif%}>{{ t }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>                
        <div class="field">
            <label class="label">Disabled</label>
            <div class="select">
                <div class="control">
                    <select name="disabled">
                        <option value="False" {% if rules[rule]['disabled']!='True' %}selected{% endif%}>False</option>
                        <option value="True" {% if rules[rule]['disabled']=='True' %}selected{% endif%}>True</option>
                    </select>
                </div>
            </div>
        </div>      
        <div class="field">
            <label class="label">Contact Email</label>
            <div class="control">
                <input name="contact" class="input" autocomplete='off' type="email" placeholder="Email address" value="{{rules[rule]['contact']}}">
            </div>
        </div>            
        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
                <textarea name="comment" class="textarea" autocomplete='off' placeholder="Rule description">{{rules[rule]['comment']}}</textarea>
            </div>
        </div>
        <div class="field">
            <div class="control buttons is-expanded" style="margin-top: 30px;">
                <button type="submit" class="button is-success" value="default action">
                    <i class="fas fa-save"></i>&nbsp;Save
                </button>
                <a class="button" href="/rules"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
                <div style="margin-left: auto; margin-right: auto;">&nbsp;</div>
                <button class="button" type="button" data-show="quickview" data-target="quickviewDefault" style="margin: 0px;">
                    <i class="fas fa-tags"></i>&nbsp;Show Tags
                </button>
            </div>
        </div>        
    </form>
  </div>
</main>

<div class="modal" id="testrule">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 768px;">
        <header class="modal-card-head">
        <p class="modal-card-title">Test Rule</p>
        </header>
        <section class="modal-card-body">
            <div class="container">
                <div class="field">
                    <label class="label">Result:</label>
                    <div id="testresult" style="height: 3em;"></div>
                </div>    
                <div class="field">
                    <label class="label">Test Values:</label>
                    <div class="control">
                        <textarea class="textarea has-fixed-size" rows="8" placeholder="Testing tags" id="testvalues" name="testvalues">{{alltags|tojson(indent=4)}}</textarea>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot buttons is-right">
            <button class="button is-dark" default autofocus id="evaltestrule" ic-post-to="/rules/test" ic-include="#testvalues" ic-global-include="#rule" ic-target="#testresult"><i class="fas fa-cogs"></i>&nbsp;Test</button>
            <button class="button" type="button" id="closetestrule" onclick="closeTestRule()">Close</button>
        </footer>
    </div>
</div>

<div id="quickviewDefault" class="quickview">
    <header class="quickview-header quickviewtitle">
      <p class="title">Rule Notation</p>
      <span class="delete" data-dismiss="quickview"></span>
    </header>
    <div class="quickview-body">
      <div class="quickview-block" style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <div class="table-container">
            <label class="label">Examples:</label>
            <table class="table is-fullwidth is-hoverable is-bordered">
                <tr><td>(@Modality@ == 'MR') and ('GRASP' in @StudyDescription@)</td></tr>
                <tr><td>(float(@SeriesNumber@) > 100) or (@ScanningSequence@.lower()=='gr')</td></tr>
            </table>
        </div>
        <div class="table-container">
        <label class="label">Available Tags:</label>
        <table class="table is-fullwidth is-hoverable is-bordered">
            {% for tag in sortedtags %}
           <tr><td><button class="button is-small is-dark" value="@{{tag}}@" onclick="copyTag(this.value)">Copy</button> &nbsp;&nbsp;@{{tag}}@</td></tr>
            {% endfor %}
        </table>
    </div>
    <input type="text" id="copyinput" value="test" style="display: none;">
</div>
    </div>
    <footer class="quickview-footer is-centered buttons">  
        <button class="button" type="button" data-dismiss="quickview">Close</button>
    </footer>
</div>
    
<script>

function showTestRule() {
    $("#testresult").html("Rule not yet tested");
    $("#testrule").addClass("is-active");
    $("#evaltestrule").focus();
    $("#evaltestrule").click();
}

function closeTestRule() { 
    $("#testrule").removeClass("is-active");  
}

function copyTag(value) { 
    $("#copyinput").val(value);
    $("#copyinput").css("display","block");

    var copyText = document.getElementById("copyinput");
    copyText.select();
    document.execCommand("copy");

    //$("#taglist").removeClass("is-active");  
    $("#copyinput").css("display","none");
}

$(function(){
  $('#rule').keypress(function(e){
    var chr = String.fromCharCode(e.which);
    if ("{}\"".indexOf(chr) >= 0)
        return false;
  });
});

$(document).ready(function(){
    var quickviews = bulmaQuickview.attach();
});

</script>

{% endblock %}
