{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <h1 class="title">DICOM Targets</h1>
    {% for x in targets %}
    <div class="card rulecard">
        <header class="card-header has-background-light" >
            <p class="card-header-title card-toggle">
                <span class="icon"><i class="fas fa-hdd fa-lg"></i></span>&nbsp;&nbsp;{{ x }}
            </p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>          
        </header>
        <div class="card-content rulecard-content is-hidden">
            <div class="content">
                <table class="table is-narrow" style="margin-bottom: 8px;">
                <col width="150">
                <tr><td>IP:</td><td>{{ targets[x]['ip'] }}</td></tr>
                <tr><td>Port:</td><td>{{ targets[x]['port'] }}</td></tr>
                <tr><td>AET Source:</td><td>{{ targets[x]['aet_source'] }}</td></tr>
                <tr><td>AET Target:</td><td>{{ targets[x]['aet_target'] }}</td></tr>
                <tr><td>Contact:</td><td>{{ targets[x]['contact'] }}</td></tr>
                </table>
                <div class="buttons is-right">                        
                    <button type="button" class="button is-dark" value="{{x}}" onclick="testTarget(this.value)"><i class="fas fa-satellite-dish"></i>&nbsp;Test</button>
                    {% if is_admin %}
                    <a class="button is-success" href="/targets/edit/{{x}}"><i class="fas fa-pen"></i>&nbsp;Edit</a>                    
                    <button class="button is-danger" id="confirm-me" value="{{x}}" onclick="confirmDelete(this.value)" {% if x in used_targets%}disabled  title="Cannot delete because target is used by rule '{{ used_targets[x] }}'"{% endif %}><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
                    {% endif %}
                </div>                
            </div>
        </div>                                                            
    </div>                                                
    {% endfor %}            
    {% if is_admin %}
    <div class="buttons is-left" style="margin-top: 20px;">
        <button class="button is-success"  onclick="showAddModal()"><i class="fas fa-plus"></i>&nbsp;Add New</button>
    </div>        
    {% endif %}
  </div>


<div class="modal" id="deletemodal">
    <div class="modal-background">        
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete Target?</p>
        </header>            
        <section class="modal-card-body">
            <div class="field">                
                Are you sure to delete the target? This cannot be undone.
            </div>
            <div class="field" style="margin-top: 20px;">                
                <p class="control">
                    <button id="confirmmodal" class="button is-danger">Delete</button>
                    <button id="closemodal" class="button">Cancel</button>
                </p>
            </div>
        </section>
    </div>
</div>
    
<div class="modal" id="addmodal">
    <div class="modal-background">            
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add New Target</p>
        </header>            
        <section class="modal-card-body">
        <form method="post">
            <div class="field">
                <p class="control">
                <input class="input" id="addnewname" type="text" required pattern="[A-Za-z0-9]+" placeholder="Name of target" name="name" autofocus>
                </p>
            </div>
            <div class="field">
                <p class="control" style="margin-top: 20px;">
                    <button id="confirmaddmodal" class="button is-success">Create</button>
                    <a id="closeaddmodal" class="button">Cancel</a>
                </p>
            </div>
        </form>
        </section>
    </div>
</div>
    
<div class="modal" id="testmodal">
    <div class="modal-background">        
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Target Connectivity</p>
        </header>            
        <section class="modal-card-body">
            <div class="field">
                <div style="margin-bottom: 8px;">
                    <div id="testmode-pingtrue"><i class="fas fa-check-circle fa-lg has-text-success"></i>&nbsp;&nbsp;Responded to Ping</div>
                    <div id="testmode-pingfalse"><i class="fas fa-times-circle fa-lg has-text-danger"></i>&nbsp;&nbsp;No Ping Response</div>
                </div>
                <div id="testmode-cechotrue"><i class="fas fa-check-circle fa-lg has-text-success"></i>&nbsp;&nbsp;Responded to C-Echo</div>
                <div id="testmode-cechofalse"><i class="fas fa-times-circle fa-lg has-text-danger"></i>&nbsp;&nbsp;No C-Echo Response</div>
            </div>
            <div class="field" style="margin-top: 20px;">                
                <p class="control buttons is-centered">
                    <button id="closetestmodal" class="button">Close</button>
                </p>
            </div>
        </section>
    </div>
</div>
    

</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
	let cardToggles = document.getElementsByClassName('card-toggle');
	for (let i = 0; i < cardToggles.length; i++) {
		cardToggles[i].addEventListener('click', e => {
			e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
		});
	}
});


function showAddModal(val) { 
    $("#addnewname").val("");
    $("#addmodal").addClass("is-active");
    $("#addnewname").focus();   
}


var targetToDelete = "";

function confirmDelete(val) { 
    targetToDelete=val;
    $("#deletemodal").addClass("is-active");
}

function testTarget(val) { 
    $.ajax({
        type: 'POST',
        url: '/targets/test/'+val,
        data: {},
        dataType: 'json',
        success: function (data) {
            var jsondata=JSON.parse(data);

            if (jsondata["ping"]=="True") {
                $("#testmode-pingtrue").show();
                $("#testmode-pingfalse").hide();
            } else {
                $("#testmode-pingtrue").hide();
                $("#testmode-pingfalse").show();
            }

            if (jsondata["c-echo"]=="True") {
                $("#testmode-cechotrue").show();
                $("#testmode-cechofalse").hide();
            } else {
                $("#testmode-cechotrue").hide();
                $("#testmode-cechofalse").show();
            }

            $("#testmodal").addClass("is-active");            
        }
    });
}

$(function () {
    $('#closeaddmodal').click(function () { 
        $("#addmodal").removeClass("is-active");  
    })   

    $('#closemodal').click(function () { 
        $("#deletemodal").removeClass("is-active");  
    })   

    $('#confirmmodal').click(function () { 
        $("#deletemodal").removeClass("is-active");
        var url = '/targets/delete/'+targetToDelete;
        var form = $('<form action="' + url + '" method="post"></form>');
        $('body').append(form);
        form.submit();        
    })           

    $('#closetestmodal').click(function () { 
        $("#testmodal").removeClass("is-active");  
    })       
});


</script>

{% endblock %}
