{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <h1 class="title">Users</h1>
    {% for x in users %}
    <div class="card rulecard">
        <header class="card-header has-background-light" >
            <p class="card-header-title card-toggle">
                <span class="icon"><i class="fas {% if users[x]['is_admin']=="True" %}fa-user-shield{% else %}fa-user{% endif %} fa-lg"></i></span>&nbsp;&nbsp;{{ x }}
            </p>
            <a class="card-header-icon card-toggle">
                <i class="fa fa-angle-down"></i>
            </a>          
        </header>
        <div class="card-content rulecard-content is-hidden">
            <div class="content">
                <table class="table is-narrow" style="margin-bottom: 8px;">
                <col width="150">
                <tr><td>E-Mail:</td><td>{{ users[x]['email'] }}</td></tr>
                <tr><td>Administrator:</td><td>{{ users[x]['is_admin'] }}</td></tr>
                </table>
                <div class="buttons is-right">                        
                    {% if is_admin %}
                    <a class="button is-success" href="/users/edit/{{x}}"><i class="fas fa-pen"></i>&nbsp;Edit</a>
                    <button class="button is-danger" id="confirm-me" value="{{x}}" onclick="confirmDelete(this.value)" {% if user==x %}disabled title="Cannot delete own account"{% endif %}><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
                    {% endif %}
                </div>                
            </div>
        </div>                                                            
    </div>                                                
    {% endfor %}            
    {% if is_admin %}
    <div class="buttons is-left" style="margin-top: 20px;">
        <button class="button is-success"  onclick="showAddModal()"><i class="fas fa-plus"></i>&nbsp;Add New</button>
    </div>        
    {% endif %}
  </div>


<div class="modal" id="deletemodal">
    <div class="modal-background">        
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete User?</p>
        </header>            
        <section class="modal-card-body">
            <div class="field">                
                Are you sure to delete the user? This cannot be undone.
            </div>
            <div class="field" style="margin-top: 20px;">                
                <p class="control">
                    <button id="confirmmodal" class="button is-danger">Delete</button>
                    <button id="closemodal" class="button">Cancel</button>
                </p>
            </div>
        </section>
    </div>
</div>

<div class="modal" id="addmodal">
    <div class="modal-background">            
    </div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add New User</p>
        </header>            
        <section class="modal-card-body">
        <form method="post">
            <div class="field">
                <p class="control">
                <input class="input" id="addnewname" type="text" required pattern="[-_A-Za-z0-9]+" placeholder="Username" name="name" autofocus>
                </p>
            </div>
            <div class="field">
                <p class="control">
                <input class="input" id="addnewpassword" type="password" required pattern="[A-Za-z0-9]+" placeholder="Password" name="password">
                </p>
            </div>
            <div class="field">
                <p class="control" style="margin-top: 20px;">
                    <button id="confirmaddmodal" class="button is-success">Create</button>
                    <a id="closeaddmodal" class="button">Cancel</a>
                </p>
            </div>
        </form>
        </section>
    </div>
</div>

</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
	let cardToggles = document.getElementsByClassName('card-toggle');
	for (let i = 0; i < cardToggles.length; i++) {
		cardToggles[i].addEventListener('click', e => {
			e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
		});
	}
});

function showAddModal(val) { 
    $("#addnewname").val("");
    $("#addnewpassword").val("");
    $("#addmodal").addClass("is-active");
    $("#addnewname").focus();   
}


var userToDelete = "";

function confirmDelete(val) { 
    $("#deletemodal").addClass("is-active");
    userToDelete=val;
}

$(function () {
    $('#closeaddmodal').click(function () { 
        $("#addmodal").removeClass("is-active");  
    })   

    $('#closemodal').click(function () { 
        $("#deletemodal").removeClass("is-active");  
    })   

    $('#confirmmodal').click(function () { 
        $("#deletemodal").removeClass("is-active");
        var url = '/users/delete/'+userToDelete;
        var form = $('<form action="' + url + '" method="post"></form>');
        $('body').append(form);
        form.submit();        
    })           
});

</script>

{% endblock %}
