# base
mypy<1.9.0
typing_extensions
hupper
watchdog
dataclasses; python_version < '3.7'
mako>=1.2.2
alembic
wheel>=0.38.1
python-dateutil
types-python-dateutil

# logging / monitoring
graphyte
influxdb_client
daiquiri
aiohttp>=3.10.11
requests>=2.32.4
types-requests

# documentation
sphinx==5.0.0
sphinx-rtd-theme

# testing
pytest
pyfakefs ~= 4.5.5
pytest-mock
pytest-subprocess


# user interface
aiofiles
jinja2>=3.1.6
types-Jinja2
# 0.15.0 breaks session management; the next commit after 0.18 will include the fix
httpcore >= 1.0.9
h11>=0.16.0
starlette >= 0.40.0

starlette-auth-toolkit
uvicorn >= 0.30.6
itsdangerous
python-multipart>=0.0.18
distro
passlib
sqlalchemy<=1.4.52
databases
# databases[postgresql]
databases[aiopg]<=0.8.0
psycopg2
asyncpg
starlette-decoRouter

# processing
docker
python-nomad

# other
pydicom ~= 2.4.1
pynetdicom ~= 2.0.2
pydantic >= 1.10.9, <2.0.0
pillow >= 10.0.1
dicomweb-client
boto3
freezegun
certifi>=2024.07.04
future>=0.18.3
lxml>=4.9.1
pyxnat
urllib3 >= 2.2.2
aiosqlite~=0.20.0
rq ~= 1.16.2
rq-scheduler ~= 0.13.1
httpx
bleach ~= 6.2.0
types-bleach
