[Unit]
Description=mercure UI
Documentation=https://mercure-imaging.org/docs
After=network.target
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/opt/mercure/app
ExecStart=/home/mercure/mercure-env/bin/python /opt/mercure/app/webgui.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
