[Unit]
Description=mercure Cleaner
Documentation=https://mercure-imaging.org/docs
After=network.target
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/opt/mercure/app
ExecStart=/opt/mercure/env/bin/python /opt/mercure/app/cleaner.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
