[Unit]
Description=mercure UI
Documentation=https://mercure-router.github.io/
After=network.target
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/home/mercure/mercure
ExecStart=/home/mercure/mercure-env/bin/python /home/mercure/mercure/webgui.py

Restart=on-failure
RestartSec=3


[Install]
WantedBy=multi-user.target
