.rulecard {
    margin-bottom: 10px;
}

.rulecard-content {
    padding: 10px;
}

.modal-card-head {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal-card-foot {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.navbar.is-black .navbar-start>a.navbar-item:hover,
.navbar.is-black .navbar-item.has-dropdown:hover .navbar-link
{
    background-color: hsl(141, 71%, 48%);
    color: #FFF !important;
}

.brand {
    color: hsl(141, 71%, 48%) !important;
}

.footer {
    margin-top: 96px;
    padding-bottom: 48px;
    background-color: hsl(0, 0%, 21%);
    border-top: 3px solid hsl(141, 71%, 48%);
    color: hsl(0, 0%, 96%);
}

html {
    background-color: hsl(0, 0%, 21%);
}

.footer a {
    color: hsl(141, 71%, 48%);
}

.logtabs li.is-active a {
    color: hsl(141, 71%, 48%) !important;
    font-weight: 500;
}

body {
    background-color: #FFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

.ruleresult {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.quickviewtitle {
    background-color: hsl(141, 71%, 48%) !important;
    color: #FFF !important;
    font-weight: 900 !important;
}

.quickviewtitle p {
    color: #FFF !important;
    font-weight: 900 !important;
}

.quickview {
    width: 420px;
    right: -420px;
} 

.quickview-body {
    border-left: 1px solid #dbdbdb !important;
}

.configtitle {
    margin-bottom: 10px !important;
}

.logviewer {
    font-family: monospace;
    overflow-x: scroll;
    overflow-y: scroll;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.logview {
    height: 70vh;
}