.rulecard {
  margin-bottom: 10px;
}

.rulecard-content {
  padding: 10px;
}

.modal-card-head {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.modal-card-foot {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar.is-black .navbar-start > a.navbar-item:hover,
.navbar.is-black .navbar-item.has-dropdown:hover .navbar-link {
  background-color: hsl(141, 71%, 48%);
  color: #fff !important;
}

.brand {
  color: hsl(141, 71%, 48%) !important;
}

.footer {
  margin-top: 64px;
  padding: 32px;
  background-color: hsl(0, 0%, 21%);
  border-top: 3px solid hsl(141, 71%, 48%);
  color: hsl(0, 0%, 96%);
}

html {
  background-color: hsl(0, 0%, 21%);
}

.footer a {
  color: hsl(141, 71%, 48%);
}

.logtabs li.is-active a {
  color: hsl(141, 71%, 48%) !important;
  font-weight: 500;
}

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.ruleresult {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.quickviewtitle {
  background-color: hsl(141, 71%, 48%) !important;
  color: #fff !important;
  font-weight: 900 !important;
}

.quickviewtitle p {
  color: #fff !important;
  font-weight: 900 !important;
}

.quickview {
  width: 420px;
  right: -420px;
}

.quickview-body {
  border-left: 1px solid #dbdbdb !important;
}

.configtitle {
  margin-bottom: 10px !important;
  margin-top: 10px;
}

.configtable {
  margin-bottom: 15px;
}

.logviewer {
  font-family: monospace;
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  color: #fff;
  padding: 8px;
}

.logviewer::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

.logviewer::-webkit-scrollbar-track,
.logviewer::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

.logviewer::-webkit-scrollbar-thumb {
  background: hsl(141, 71%, 48%);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;  
}

.logviewer::-webkit-scrollbar-thumb:hover {
  background: #22c65b;
  border: 3px solid transparent;
  background-clip: content-box;
}

.logview {
  height: 70vh;
}

#tab-content div.panel {
  display: none;
}

#tab-content div.panel.is-active {
  display: block;
}

.tabs li.is-active a {
  border-bottom-color: hsl(141, 71%, 48%);
  color: hsl(141, 71%, 48%);
}

.tabs.is-toggle li.is-active a {
  background-color: #2f2f2f;
  border-color: #2f2f2f;
}

.tabs li.is-disabled {
  display: none;
}

.tabs li.is-disabled a:hover {
  background-color: #fff;
}

.switch[type="checkbox"] + label::before,
.switch[type="checkbox"]:checked + label:before {
  outline: none !important;
}

.switch[type="checkbox"] + label::after,
.switch[type="checkbox"]:checked + label:after {
  outline: none !important;
}

::selection {
  color: none;
  background: none;
}

.textarea::selection,
.input::selection {
  background-color: rgb(50, 115, 220);
  color: #fff;
}

.logviewer::selection {
  background-color: rgb(50, 115, 220);
  color: #fff;
}

.ruleicon {
  margin-left: 5px;
  margin-right: 0px;
}

.switch[type="checkbox"] + label::before,
.switch[type="checkbox"] + label:before {
  background-color: #dbdbdb;
}

.jobtable {
  table-layout: fixed;
}

.jobtable td {
  width: 20%;
}

.jobtable tr.is-selected {
  background-color: hsl(141, 71%, 48%);
}

.jobstabs a {
  width: 160px;
}

.tagback:not(body) {
  background-color: #dbdbdb;
}

.tagsinput .tag:not(body) {
  background-color: #363636;
  color: #fff;
}

.tagsinput .tag.is-active {
  background-color: #363636;
  color: #fff;
}

.tagsinput .tag:not(body).is-delete:hover {
  background-color: #2f2f2f;
}

.tagsinput > input[type="text"]::placeholder {
  color: #c2c2c2;
}

.tagsinput.field.is-grouped.is-grouped-multiline:last-child {
  margin-bottom: 0px !important;
}

.tagsinput.field {
  min-height: 36px !important;
}

.is-frameless {
  border: none;
  color: rgb(54, 54, 54);
  padding-left: 8px;
  padding-right: 8px;
}

.is-frameless:hover {
  border: none;
  color: rgb(50, 115, 220);
}

.series_completion_fix {
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.navbar.is-black .navbar-brand>a.navbar-item:hover {
  background-color: #0a0a0a;
}

.navbar.is-black .navbar-brand>a.navbar-item:focus {
  background-color: #0a0a0a;
}

.greenlink {
  color: hsl(141, 71%, 48%);
}

.loadingspinner {
  color: hsl(141, 71%, 48%);
  text-align: center;
}

.gitter-chat-embed {
  z-index: 99999 !important;
}

.gitter_note {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: .7em;
  background: none;
  z-index: 10;
}

table.dataTable tbody tr.selected th, table.dataTable tbody tr.selected td {
  color: white;
  background-color: #3273dc !important;
}

.dataTables_scrollBody
{
 overflow-x:auto !important;
 overflow-y:auto !important;
}


.dataTables_scrollBody::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.dataTables_scrollBody::-webkit-scrollbar-track,
.dataTables_scrollBody::-webkit-scrollbar-corner {
  background-color: #FFF;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background: rgb(219,219,219);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
  background: #2f2f2f;
  background: rgb(219,219,219);
  border: 3px solid transparent;
  background-clip: content-box;
}

.taskinfotextarea::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.taskinfotextarea::-webkit-scrollbar-track,
.taskinfotextarea::-webkit-scrollbar-corner {
  background-color: #FFF;
}

.taskinfotextarea::-webkit-scrollbar-thumb {
  background: rgb(219,219,219);
  border-radius: 10px;
}

.taskinfotextarea::-webkit-scrollbar-thumb:hover {
  background: hsl(141, 71%, 48%);
}

.ruletesterdashed {
  border: 2px dashed #dbdbdb;
}

#job-events-table_wrapper .table th {
  padding: 3px 11px !important;
}

.process-logs::-webkit-scrollbar-track,
.process-logs::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

.process-logs::-webkit-scrollbar-thumb {
  background: #22c65b;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.process-logs::-webkit-scrollbar-thumb:hover {
  background: #22c65b;
  border: 3px solid transparent;
  background-clip: content-box;
}

.process-logs::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.process-logs-output {
  font-family: monospace;
  background-color: #0a0a0a;
  color: #fff;
  padding: 8px;
}

.process-logs-output::selection {
  background-color: rgb(50, 115, 220);
  color: #fff;
}


.textarea_scroll::-webkit-scrollbar-track,
.textarea_scroll::-webkit-scrollbar-corner {
  background: #ffffff00;
}

.textarea_scroll::-webkit-scrollbar-thumb {
  background: rgb(219,219,219);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.textarea_scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(219,219,219);
  border: 3px solid transparent;
  background-clip: content-box;
}

.textarea_scroll::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

#modules_list > div > div > div > div > .tag {
  font-size: 1rem !important;
  background-color: #3273dc;
}

#modules_list > div > div > input[type=text] {
  font-size: 1rem !important;
}

#modules_list > div > div > input[type=text]:focus-visible {
  outline: none;
}

#modules_list > div > div > div > div > a {
  background-color: #2f2f2f !important;
  
}

#modules_list > div > div > div > div > a:hover {
  background-color: #ff3860 !important;
}

#modules_list > div > div > input[type=text] {
  min-height: 32px;
}