<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hermes</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
    <script src="{{ url_for('static', path='/js/jquery-3.4.1.min.js') }}"></script>    
    <script src="{{ url_for('static', path='/js/intercooler-1.2.2.js') }}"></script>     

    {% if page == "rules" %}
    <script type="text/javascript" src="{{ url_for('static', path='/js/bulma-quickview.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma-quickview.min.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma-pageloader.min.css') }}">

    <link href="{{ url_for('static', path='/css/custom.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicon-16x16.png') }}" sizes="16x16" />    

  </head>

  <body>
      <nav class="navbar is-black" role="navigation" aria-label="main navigation">
          <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-size-5 brand" href="/">
            <strong><i class="fas fa-paper-plane"></i> Hermes</strong>
          </a>            
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMainMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>            
        <div id="navbarMainMenu" class="navbar-menu">
          <div class="navbar-start">
            {% if logged_in %}
            <a class="navbar-item {% if page != "homepage" %}has-text-grey-light{% endif %}" href="/">
              Overview
            </a>
            <a class="navbar-item {% if page != "rules" %}has-text-grey-light{% endif %}" href="/rules">
              Rules
            </a>
            <a class="navbar-item {% if page != "targets" %}has-text-grey-light{% endif %}" href="/targets">
              Targets
            </a>
            <a class="navbar-item {% if page != "modules" %}has-text-grey-light{% endif %}" href="/modules">
              Modules
            </a>
            {% if is_admin %}
            <a class="navbar-item {% if page != "users" %}has-text-grey-light{% endif %}" href="/users">
              Users
            </a>
            <a class="navbar-item {% if page != "logs" %}has-text-grey-light{% endif %}" href="/logs">
              Logs
            </a>
            <a class="navbar-item {% if page != "configuration" %}has-text-grey-light{% endif %}" href="/configuration">
              Configuration
            </a>
            {% endif %}
            {% endif %}
          </div>
          {% if logged_in %}
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">User: {{ user }}</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://hermes-router.github.io" target="_blank">
                  Help
                </a>
                <a class="navbar-item" href="/settings">
                  Settings
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/logout">
                  Logout
                </a>
              </div>
            </div>
          </div>            
          {% endif %}
        </div>
      </div>
    </nav>
      
    <section class="section" style="flex: 1;">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Hermes DICOM Router &minus; Version {{hermes_version}}<br />
          <a href="https://hermes-router.github.io" target="_blank">https://hermes-router.github.io</a>
        </p>
      </div>
    </footer>    

      <script>
      $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
      });        
      </script>
  </body>
</html>
