{% extends "base.html" %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="title">Configuration</h1>
        <form method="post" onsubmit = "return validate()">        
            <div class="notification is-danger" id="erroralert" style="display: none;">
                <i class="fas fa-bug"></i>&nbsp;&nbsp;Error in configuration detected. Please check input for correct JSON syntax.
            </div>
            <div class="columns">
                <div class="column is-full">        
                    <div class="field">
                        <div class="control">            
                            <textarea class="textarea" cols="50" rows="25" wrap="off" id="editor" name="editor" style="font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;" spellcheck="false">{{config_content}}</textarea>
                        </div>                    
                    </div>        
                </div>
            </div>
            {% if is_admin %}
            <div class="columns">
                    <div class="column is-full">
                        <div class="buttons is-left" style="margin-top: 20px;">
                            <button class="button is-success" href="/configuration/edit"><i class="fas fa-save"></i>&nbsp;Save</button>
                            <a class="button " href="/configuration"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
                        </div>        
                    </div>
                </div>
            </div>
            {% endif %}            
        </form>
    </div>    
</main>
<script>
function validate() {
    var str=$('#editor').val();
    try {
        JSON.parse(str);
    } catch (e) {
        $('#erroralert').show();
        $('#editor').focus();        
        return false;
    }
    return true;
}
</script>        
{% endblock %}
