{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="container">   
    <h1 class="title">Login</h1>
    <div class="columns is-centered" style="margin-top: 10px;">
      <div class="column is-two-fifths card" style="padding: 30px; padding-top: 38px; padding-bottom: 34px; border-top: solid 3px #23d160;">
        <form method="post">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Username" name="username" autofocus>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" name="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success" value="default action"  style="margin-top: 16px;">
                <i class="fas fa-key"></i>&nbsp;Login
              </button>
            </p>
          </div>
        </form>          
        {% if invalid_password %}
        <div class="notification is-danger" style="margin-top: 20px;">
          <i class="fas fa-lock"></i>&nbsp;&nbsp;Invalid username or password entered
        </div>   
        {% endif %}        
    </div>    
    </div>
  </div> <!-- /container -->

</main>
{% endblock %}
