{% extends "base.html" %}

{% block title %}Authentication{% endblock %}

{% block content %}
<main role="main">

  <div class="container">   
    <h1 class="title">Login</h1>
    <div class="columns is-centered" style="margin-top: 40px;">    
      <div class="column is-one-third card" style="padding: 40px; padding-top: 48px; padding-bottom: 44px; border-top: solid 4px #23d160;">
        <form method="post">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Username" name="username" autofocus>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" name="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-success is-fullwidth" value="default action"  style="margin-top: 34px;">
                <i class="fas fa-key"></i>&nbsp;Login
              </button>
            </p>
          </div>
        </form>          
      </div>    
    </div>

    {% if invalid_password %}
    <div class="columns is-centered">
      <div class="column is-one-third" style="padding: 0px; margin-top: 1px;">
        <div class="notification is-danger" style="padding-top: 15px; padding-bottom: 15px; border-radius: 0px !important; box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);">
          <i class="fas fa-lock"></i>&nbsp;&nbsp;Invalid credentials
        </div>   
      </div>
    </div>
    {% endif %}                

  </div> <!-- /container -->

</main>
{% endblock %}
