{% extends "base.html" %}

{% block title %}Modules{% endblock %}

{% block content %}
<style>
    .radiobuttons > input:checked + label{
        background: black;
        color: white;
    }
</style>
    <main role="main">
        <div class="container">
            <h1 class="title">Processing Modules</h1>
            {% for x in modules %}
                <div class="card rulecard">
                    <header class="card-header has-background-light">
                        <p class="card-header-title card-toggle">
                            <span class="icon"><i class="fas fa-cogs fa-lg"></i></span>&nbsp;&nbsp;{{ x }}
                        </p>
                        <a class="card-header-icon card-toggle">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </header>
                    <div class="card-content rulecard-content is-hidden">
                        <div class="content">
                            <table class="table is-narrow" style="margin-bottom: 8px;">
                                <col width="150">
                                <tr>
                                    <td>Docker Tag:</td>
                                    <td>{{ modules[x]['docker_tag'] }}</td>
                                </tr>
                                <tr>
                                    <td>Contact:</td>
                                    <td>{{ modules[x]['contact'] }}</td>
                                </tr>                                
                                <tr>
                                    <td>Comment:</td>
                                    <td>{{ modules[x]['comment'] }}</td>
                                </tr>                                
                            </table>
                            <div class="buttons is-right">
                                {% if is_admin %}
                                    <a class="button is-success" href="/modules/edit/{{x}}"><i
                                            class="fas fa-pen"></i>&nbsp;Edit</a>
                                    <button class="button is-danger" id="confirm-me" value="{{x}}"
                                            onclick="confirmDelete(this.value)" {% if x in used_modules%}disabled
                                            title="Cannot delete because target is used by rule '{{ used_modules[x] }}'" {% endif %}><i
                                            class="fas fa-trash-alt"></i>&nbsp;Delete</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if is_admin %}
                <div class="buttons is-left" style="margin-top: 20px;">
                    <button class="button is-success" onclick="showAddModal()"><i class="fas fa-plus"></i>&nbsp;Install
                        Module</button>
                </div>
            {% endif %}
        </div>

        <div class="modal" id="addmodal">
            <div class="modal-background">
            </div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Install New Module</p>
                </header>
                <section class="modal-card-body">
                    <form hx-post="./" hx-target="#addmodal_message" htmx-added="title">
                        <div class="field">
                            <p class="control">
                                <input class="input" id="addnewname" type="text" required pattern="[-_A-Za-z0-9]+"
                                       placeholder="Name of module" name="name" autofocus>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="input" id="docker_tag" type="text" required placeholder="Docker tag" name="docker_tag">
                            </p>
                        </div>
                        <div class="field" style="margin-top: 20px; margin-bottom: 25px;">
                            <label class="label">Module Type</label>
                            <div class="control radiobuttons radiobuttons_module">
                                <input type="radio" value="mercure" id="radio_mercure" name="container_type" style="display:none" checked>
                                <label class="button containerradiobtn" for="radio_mercure" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-top-left-radius: 290486px; border-bottom-left-radius: 290486px; padding-right: 4px;">
                                 mercure
                                </label>
                                <input type="radio" value="monai" id="radio_monai" name="container_type" style="display:none">
                                <label class="button containerradiobtn" for="radio_monai" style="margin-left: -5px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 290486px; border-bottom-right-radius: 290486px; padding-left: 4px;" title="Select for running MONAI applications">
                                 MONAI
                                </label>
                            </div>
                        </div>
                        <div class="field" style="margin-top: 20px;"><span id="addmodal_message" style="color:#ff3860;"></span></div>
                        <div class="field" style="margin-top: 25px;">
                            <div class="control">
                                <button id="confirmaddmodal" class="button is-success">Install</button>
                                <a id="closeaddmodal" class="button">Cancel</a>
                                <i class="fas fa-spin fa-spinner htmx-indicator" style="font-size: 1.5em; float: right !important;"></i>
                            </div>                            
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="modal" id="deletemodal">
            <div class="modal-background">
            </div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Delete Module?</p>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        Are you sure to delete the module? This cannot be undone.
                    </div>
                    <div class="field" style="margin-top: 20px;">
                        <p class="control">
                            <button id="confirmdeletemodal" class="button is-danger">Delete</button>
                            <a id="closedeletemodal" class="button">Cancel</a>
                        </p>
                    </div>
            </section>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let cardToggles = document.getElementsByClassName('card-toggle');
            for (let i = 0; i < cardToggles.length; i++) {
                cardToggles[i].addEventListener('click', e => {
                    e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
                });
            }
        });

        function showAddModal(val) {
            $("#addnewname").val("");
            $("#addmodal").addClass("is-active");
            $("#addnewname").focus();
        }

        var moduleToDelete = "";

        function confirmDelete(val) {
            moduleToDelete = val;
            $("#deletemodal").addClass("is-active");
        }

        $(function () {
            $('#closeaddmodal').click(function () {
                $("#addmodal").removeClass("is-active");
                $("#addmodal_message").html("")
            })

            $('#closedeletemodal').click(function () {
                $("#deletemodal").removeClass("is-active");
            })

            $('#confirmdeletemodal').click(function () {
                $("#deletemodal").removeClass("is-active");
                var url = '/modules/delete/' + moduleToDelete;
                var form = $('<form action="' + url + '" method="post"></form>');
                $('body').append(form);
                form.submit();
            })
        });
    </script>

{% endblock %}