{% extends "base.html" %}

{% block title %}Queue{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{{ url_for('static', path='DataTables/datatables.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='DataTables/datatables.min.css') }}"/>  
    <script type="text/javascript" src="{{ url_for('static', path='js/jquery.json-viewer.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/jquery.json-viewer.css') }}"/>  
{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Queue Management</h1>
            </div>
            <div class="column">
                <div class="container">
                    <div class="field is-grouped is-pulled-right">
                        <p class="control" style="margin-right: 5px;">
                            <button class="button is-small has-tooltip-left has-tooltip-success" data-tooltip="Auto Update" onclick="toggleAutoUpdate()" id="autoupdate">
                                <i class="far fa-clock"></i></button>                            
                        </p>
                        <p class="control">
                            <button class="button is-dark is-small has-tooltip-right has-tooltip-success" onclick="update()"
                            data-tooltip="Refresh Now" id="refreshbtn" aria-controls="dropdown-menu">
                                <i id="activitybtn" class="fas fa-sync"></i>      
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="notification is-danger" id="erroralert" style="display: none;">
            <i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Error: Unable to update queue status.
        </div>
        <h5 class="title is-5 configtitle" style="margin-top: 22px;"><i
                class="fas fa-power-off has-text-success"></i>&nbsp;&nbsp;Control</h5>
        <div class="columns">
            <div class="column" style="width: 100% !important;">
                <table class="table is-fullwidth">
                    <col width="30%">
                    <col width="30%">
                    <col width="40%">
                    <tr>
                        <td><span class="icon"><i class="fa fa-microchip"></i></span> Processing</td>
                        <td>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Status</span>
                                    <span class="tag tagback" id="processing_status">IDLE</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <input id="processing_control" type="checkbox" name="processing_control"
                                    class="switch is-rounded is-danger" onchange="suspendQueue()" {% if
                                    processing_suspended==True %}checked{% endif %}>
                                <label for="processing_control">Suspend Queue</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="icon"><i class="fa fa-directions"></i></span> Routing</td>
                        <td>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">Status</span>
                                    <span class="tagback tag" id="routing_status">IDLE</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <input id="routing_control" type="checkbox" name="routing_control"
                                    class="switch is-rounded is-danger" onchange="suspendQueue()" {% if
                                    routing_suspended==True %}checked{% endif %}>
                                <label for="routing_control">Suspend Queue</label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <h5 class="title is-5 configtitle" style="margin-top: 60px;"><i
            class="fas fa-list has-text-success"></i>&nbsp;&nbsp;Job List</h5>
    <div class="columns">
        <div class="column" style="width: 100% !important;">
            <div class="tabs is-centered is-toggle is-toggle-rounded jobstabs" id="tabs">
                <ul>
                    <li data-tab="processing" id="tab_processing" class="is-active">
                        <a>
                            <span class="icon"><i class="fa fa-microchip"></i></span>
                            <span>Processing</span>
                        </a>
                    </li>
                    <li data-tab="routing" id="tab_routing">
                        <a>
                            <span class="icon"><i class="fas fa-directions"></i></span>
                            <span>Routing</span>
                        </a>
                    </li>
                    <li data-tab="studies" id="tab_studies">
                        <a>
                            <span class="icon"><i class="fas fa-clipboard-check"></i></span>
                            <span>Studies</span>
                        </a>
                    </li>
                    <li data-tab="fail" id="tab_fail">
                        <a>
                            <span class="icon"><i class="fas fa-bug"></i></span>
                            <span>Failure</span>
                        </a>
                    </li>
                    <li data-tab="archive" id="tab_archive">
                        <a>
                            <span class="icon"><i class="fas fa-archive"></i></span>
                            <span>Archive</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="tab-content">
                <div class="panel is-active" data-content="processing">
                    <table class="table is-narrow is-hoverable is-fullwidth jobtable" id="jobs_processing">
                        <thead>
                            <tr>
                                <th>ACC</th>
                                <th>MRN</th>
                                <th>Scope</th>
                                <th>Module</th>
                                <th>Status</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="panel" data-content="routing">
                    <table class="table is-narrow is-hoverable is-fullwidth jobtable" id="jobs_routing">
                        <thead>
                            <tr>
                                <th>ACC</th>
                                <th>MRN</th>
                                <th>Scope</th>
                                <th>Target</th>
                                <th>Status</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="panel" data-content="studies">
                    <table class="table is-narrow is-hoverable is-fullwidth jobtable" style="word-wrap: break-word;" id="jobs_studies">
                        <thead>
                            <tr>
                                <th>Study ID</th>
                                <th>ACC</th>
                                <th>MRN</th>
                                <th>Study UID</th>
                                <th>Rule</th>
                                <th>Completion</th>
                                <th>Created</th>
                                <th># Series</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="panel" data-content="fail">
                    <table class="table is-narrow is-hoverable is-fullwidth jobtable" id="jobs_fail">
                        <thead>
                            <tr>
                                <th>ACC</th>
                                <th>MRN</th>
                                <th>Scope</th>
                                <th>Fail Stage</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="panel" data-content="archive">
                    <div class="field has-addons" style="margin-top: 30px; margin-bottom: 30px;">
                        <div class="control is-expanded">
                            <input name="job_archive_search" id="job_archive_search" pattern="[0-9a-zA-Z_\-]+" onkeyup="this.value = this.value.replace(/[{}\x22\n]/g, '')"
                            class="input series_completion_fix" autocomplete='off' type="text" placeholder="Find job by ACC, MRN, or patient name">
                        </div>
                        <div class="control">
                            <button class="button" onclick="archiveSearch()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <table class="table is-narrow is-hoverable is-fullwidth jobtable" id="jobs_archive">
                        <thead>
                            <tr>
                                <th>ACC</th>
                                <th>MRN</th>
                                <th>Scope</th>
                                <th>Time</th>
                                <th>ID</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="min-height: 80px; margin-top: 30px;">
                <div class="fa-3x loadingspinner" id="loadingspinner" style="display: none;">
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>            
            </div>
        </div>
    </div>
    </div>

    <div class="modal" id="jobinformation">
        <div class="modal-background"></div>
        <div class="modal-card" style="width: 960px; min-height: 75%; max-height: 75%;">
            <header class="modal-card-head">
                <p class="modal-card-title">Job Information</p>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    <div class="field">
                        <div class="control" id="jobinfocontrol" >
                            <pre id="jobinfo-renderer"></pre>
                            <div id="jobinformationcontent"></div>
                        </div>
                    </div>                    
                </div>
            </section>
            <footer class="modal-card-foot buttons is-centered">
                <button class="button" type="button" id="closejobinformation" onclick="closeJobInformation()">Close</button>
            </footer>
        </div>
    </div>    

    <div class="modal" id="jobarchiveinformation">
        <div class="modal-background"></div>
        <div class="modal-card" style="width: 960px; min-height: 75%; max-height: 75%;">
            <header class="modal-card-head">
                <p class="modal-card-title">Job Information</p>
            </header>
            <section class="modal-card-body jsonsection">
                <div class="container">
                    <div class="field">
                        <div class="control" id="jobarchiveinfocontrol" >
                            <section class="column">
                                <pre id="json-renderer"></pre>
                            </section>
                        </div>
                    </div>                    
                </div>
            </section>
            <footer class="modal-card-foot buttons is-centered">
                <button class="button" type="button" id="closejobarchiveinformation" onclick="closeJobArchiveInformation()">Close</button>
            </footer>
        </div>
    </div>        

    <div class="modal" id="jobaudittrail">
        <div class="modal-background"></div>
        <div class="modal-card" style="width: 90%;">
            <header class="modal-card-head">
                <p class="modal-card-title">Audit Trail</p>
            </header>
            <section class="modal-card-body">
                <table class="table is-narrow is-hoverable is-fullwidth display nowrap" id="job-events-table" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Time</th>
                            <th>Event</th>
                            <th>Sender</th>
                            <th>Target</th>
                            <th>File Count</th>
                            <th>Info</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
            <footer class="modal-card-foot buttons is-centered">
                <button class="button" type="button" id="closejobaudittrail" onclick="closeJobAuditTrail()">Close</button>
            </footer>
        </div>
    </div> 

    <div class="modal" id="process_logs">
        <div class="modal-background"></div>
        <div class="modal-card process-logs" style="width: 90%;">
            <header class="modal-card-head">
                <p class="modal-card-title">Processing Log</p>
            </header>
            <section class="modal-card-body process-logs" style="background-color: #0a0a0a; border-left: 3px solid #FFF; border-right: 3px solid #FFF;">
                <pre id="process_logs_display" class="process-logs process-logs-output"></pre>
            </section>
            <footer class="modal-card-foot buttons is-centered">
                <button class="button" type="button" id="closeprocesslogs" onclick="closeProcessLogs()">Close</button>
            </footer>
        </div>
    </div> 

    <div class="modal" id="process_results">
        <div class="modal-background"></div>
        <div class="modal-card process-results" style="width: 60%;">
            <header class="modal-card-head">
                <p class="modal-card-title">Processing Results</p>
            </header>
            <section class="modal-card-body process-results" style="background-color: #0a0a0a; border-left: 3px solid #FFF; border-right: 3px solid #FFF;">
                <pre id="process_results_display" class="process-results process-results-output"></pre>
            </section>
            <footer class="modal-card-foot buttons is-centered">
                <button class="button" type="button" id="closeprocessresults" onclick="closeProcessResults()">Close</button>
            </footer>
        </div>
    </div>     
</main>

<script>

    var archiveFilterQueue = false;

    function update() {
        update_status();
        update_jobs();
        $("#refreshbtn").blur();
    }

    function update_jobs() {
        if ($("#tab_processing").hasClass("is-active")) {    
            $('#jobs_processing').DataTable().clear().draw();
            $('#loadingspinner').show();          
            $.ajax({
                type: 'GET',
                url: '/queue/jobs/processing',
                data: {},
                dataType: 'json',
                error: function () {
                    $('#erroralert').show();
                },
                success: function (data) {
                    $('#erroralert').hide();
                    if (!Object.keys(data).length) {
                    }
                    else {
                        var jobtable = $('#jobs_processing').DataTable();
                        Object.keys(data).forEach(function (key) {
                                jobtable.row.add( [ data[key]["ACC"], data[key]["MRN"], data[key]["Scope"], data[key]["Module"], data[key]["Status"], key ] );
                        })
                        jobtable.draw();
                    }
                },
                complete: function (data) {
                    $('#loadingspinner').hide();
                },
                timeout: 3000
            });
            $('#jobs_processing').DataTable().button(2).enable(false);
            $('#jobs_processing').DataTable().button(3).enable(false);            
            return;
        }

        if ($("#tab_routing").hasClass("is-active")) {
            $('#jobs_routing').DataTable().clear().draw();
            $('#loadingspinner').show();
            $.ajax({
                type: 'GET',
                url: '/queue/jobs/routing',
                data: {},
                dataType: 'json',
                error: function () {
                    $('#erroralert').show();
                },
                success: function (data) {
                    $('#erroralert').hide();
                    var jobtable = $('#jobs_routing').DataTable();
                    if (Object.keys(data).length) {
                        Object.keys(data).forEach(function (key) {
                            jobtable.row.add( [ data[key]["ACC"], data[key]["MRN"], data[key]["Scope"], data[key]["Target"], data[key]["Status"], key ] );
                        })
                    }
                    jobtable.draw();
                },
                complete: function (data) {
                    $('#loadingspinner').hide();
                },
                timeout: 3000
            });
            $('#jobs_routing').DataTable().button(2).enable(false);
            $('#jobs_routing').DataTable().button(3).enable(false);
            return;
        }

        if ($("#tab_studies").hasClass("is-active")) {       
            $('#jobs_studies').DataTable().clear().draw();
            $('#loadingspinner').show();
            $.ajax({
                type: 'GET',
                url: '/queue/jobs/studies',
                data: {},
                dataType: 'json',
                error: function () {
                    $('#erroralert').show();
                },
                success: function (data) {
                    $('#erroralert').hide();
                    var jobtable = $('#jobs_studies').DataTable();
                    Object.keys(data).forEach(function (key) {
                        jobtable.row.add( [ key, data[key]["ACC"], data[key]["MRN"], data[key]["UID"], data[key]["Rule"], data[key]["Completion"], data[key]["Created"], data[key]["Series"] ] );
                    })
                    jobtable.draw();
                },
                complete: function (data) {
                    $('#loadingspinner').hide();
                },
                timeout: 3000
            });
            $('#jobs_studies').DataTable().button(2).enable(false);
            $('#jobs_studies').DataTable().button(3).enable(false);
            $('#jobs_studies').DataTable().button(4).enable(false);
            return;
        }

        if ($("#tab_fail").hasClass("is-active")) {       
            $('#jobs_fail').DataTable().clear().draw();
            $('#loadingspinner').show();
            $.ajax({
                type: 'GET',
                url: '/queue/jobs/fail',
                data: {},
                dataType: 'json',
                error: function () {
                    $('#erroralert').show();
                },
                success: function (data) {
                    $('#erroralert').hide();
                    var jobtable = $('#jobs_fail').DataTable();
                    Object.keys(data).forEach(function (key) {
                        jobtable.row.add( [ data[key]["ACC"], data[key]["MRN"], data[key]["Scope"], data[key]["FailStage"], key ] );
                    })
                    jobtable.draw();
                },
                complete: function (data) {
                    $('#loadingspinner').hide();
                },
                timeout: 3000
            });
            $('#jobs_fail').DataTable().button(2).enable(false);
            $('#jobs_fail').DataTable().button(3).enable(false);
            return;
        }        

        if ($("#tab_archive").hasClass("is-active")) {       
            $('#jobs_archive').DataTable().clear().draw();
            $('#jobs_archive_wrapper').hide();
            $('#job_archive_search').val('');
            archiveSearch();
            $('#job_archive_search').focus();                
            return;
        }        
    }

    function update_status() {
        $.ajax({
            type: 'GET',
            url: '/queue/status',
            data: {},
            dataType: 'json',
            error: function () {
                $('#erroralert').show();
                $('#jobs_processing').DataTable().clear().draw();
                $('#jobs_routing').DataTable().clear().draw();
                $('#jobs_studies').DataTable().clear().draw();
                $('#jobs_fail').DataTable().clear().draw();
                $('#jobs_archive').DataTable().clear().draw();
            },
            success: function (data) {
                $('#erroralert').hide();
                $('#processing_status').removeClass("is-success is-danger is-warning");
                $('#routing_status').removeClass("is-success is-danger is-warning");

                switch (data["processing_status"]) {
                    case "Idle":
                        $('#processing_status').text("IDLE");
                        break;
                    case "Processing":
                        $('#processing_status').text("RUNNING");
                        $('#processing_status').addClass("is-success");
                        break;
                    case "Halted":
                        $('#processing_status').text("HALTED");
                        $('#processing_status').addClass("is-danger");
                        break;
                    case "Suspending":
                        $('#processing_status').text("SUSPENDING");
                        $('#processing_status').addClass("is-warning");
                        break;
                    default:
                        $('#processing_status').text("UNKNOWN");
                }

                switch (data["routing_status"]) {
                    case "Idle":
                        $('#routing_status').text("IDLE");
                        break;
                    case "Processing":
                        $('#routing_status').text("RUNNING");
                        $('#routing_status').addClass("is-success");
                        break;
                    case "Halted":
                        $('#routing_status').text("HALTED");
                        $('#routing_status').addClass("is-danger");
                        break;
                    case "Suspending":
                        $('#routing_status').text("SUSPENDING");
                        $('#routing_status').addClass("is-warning");
                        break;
                    default:
                        $('#routing_status').text("UNKNOWN");
                }

                if (data["processing_suspended"] == "True") {
                    $('#processing_control').prop('checked', true);
                } else {
                    $('#processing_control').prop('checked', false);
                }

                if (data["routing_suspended"] == "True") {
                    $('#routing_control').prop('checked', true);
                } else {
                    $('#routing_control').prop('checked', false);
                }
            },
            timeout: 3000
        });
    }

    function suspendQueue() {
        var suspend_processing = $('#processing_control').is(':checked');
        var suspend_routing = $('#routing_control').is(':checked');
        $.ajax({
            type: 'POST',
            url: '/queue/status',
            data: { "suspend_processing": suspend_processing, "suspend_routing": suspend_routing },
            dataType: 'json',
            error: function () {
                $('#erroralert').show();
            },
            success: function (data) {
                $('#erroralert').hide();
                update();
            },
            timeout: 3000
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        let cardToggles = document.getElementsByClassName('card-toggle');
        for (let i = 0; i < cardToggles.length; i++) {
            cardToggles[i].addEventListener('click', e => {
                e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden');
            });
        }
    });

    $(document).ready(function () {      

        $('#jobs_processing').DataTable( {
            "paging":   false,
            "ordering": false,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": "No jobs scheduled for processing"
            },
            select: true,
            buttons: [
                {   
                    extend: 'selectAll', 
                    text: '<i class="far fa-check-square"></i>',
                    titleAttr: 'Select all',
                },
                {   
                    extend: 'selectNone', 
                    text: '<i class="far fa-square"></i>',
                    titleAttr: 'Deselect all',
                },
                {
                    text: '<i class="far fa-question-circle"></i>',
                    titleAttr: 'Job information',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_processing').DataTable().rows( { selected: true } ).data()[0][5];
                        showJobInformation(jid,"processing");
                    }
                },
                {
                    text: '<i class="far fa-trash-alt"></i>',
                    titleAttr: 'Cancel job',
                    action: function ( e, dt, node, config ) {
                        alert("Coming soon!");                    
                    }
                }
            ],
            dom: 'Bfrtip',
            "scrollY": "740px",
            "scrollX": false,
            "scrollCollapse": true,   
        } );        
        $('#jobs_processing').DataTable().on( 'select deselect', function () {
            var selectedRows = $('#jobs_processing').DataTable().rows( { selected: true } ).count();
            $('#jobs_processing').DataTable().button(2).enable( selectedRows > 0 );
            $('#jobs_processing').DataTable().button(3).enable( selectedRows > 0 );
        } );

        $('#jobs_routing').DataTable( {
            "paging":   false,
            "ordering": false,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": "No jobs scheduled for routing"
            },
            select: true,
            buttons: [
                {   
                    extend: 'selectAll', 
                    text: '<i class="far fa-check-square"></i>',
                    titleAttr: 'Select all',
                },
                {   
                    extend: 'selectNone', 
                    text: '<i class="far fa-square"></i>',
                    titleAttr: 'Deselect all',
                },
                {
                    text: '<i class="far fa-question-circle"></i>',
                    titleAttr: 'Job information',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_routing').DataTable().rows( { selected: true } ).data()[0][5];
                        showJobInformation(jid,"routing");
                    }
                },
                {
                    text: '<i class="far fa-trash-alt"></i>',
                    titleAttr: 'Cancel job',
                    action: function ( e, dt, node, config ) {
                        alert("Coming soon!");                    
                    }
                },
            ],
            dom: 'Bfrtip',
            "scrollY": "740px",
            "scrollX": false,
            "scrollCollapse": true,              
        } );
        $('#jobs_routing').DataTable().on( 'select deselect', function () {
            var selectedRows = $('#jobs_routing').DataTable().rows( { selected: true } ).count();
            $('#jobs_routing').DataTable().button(2).enable( selectedRows > 0 );
            $('#jobs_routing').DataTable().button(3).enable( selectedRows > 0 );
        } );

        $('#jobs_studies').DataTable( {
            "paging":   false,
            "ordering": false,
            "info": false,
            "searching": false,
            "select": true,
            "language": {
                "emptyTable": "No studies in reception"
            },
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            select: true,
            buttons: [
                {   
                    extend: 'selectAll', 
                    text: '<i class="far fa-check-square"></i>',
                    titleAttr: 'Select all',
                },
                {   
                    extend: 'selectNone', 
                    text: '<i class="far fa-square"></i>',
                    titleAttr: 'Deselect all',
                },
                {
                    text: '<i class="far fa-question-circle"></i>',
                    titleAttr: 'Job information',
                    action: function ( e, dt, node, config ) {
                        showJobInformation("","studies");
                    }
                },
                {
                    text: '<i class="far fa-trash-alt"></i>',
                    titleAttr: 'Cancel study',
                    action: function ( e, dt, node, config ) {
                        alert("Coming soon!");                    
                    }
                },
                {
                    text: '<i class="far fa-play-circle"></i>',
                    titleAttr: 'Force study completion',
                    action: function ( e, dt, node, config ) {

                        var selectedRows = $('#jobs_studies').DataTable().rows( { selected: true } )
                        
                        selectedRows.every(function() {
                            row = this
                            var id = row.data()[0]
                            if (row.data()[5] == "Force") {
                                return
                            }
                            $.ajax({
                                type: 'POST',
                                url: '/queue/jobs/studies/force-complete',
                                data: {'id': id },
                                dataType: 'json',
                                error: function () {
                                    alert("Operation failed. Try refreshing the page.")
                                },
                                success: function (data) {
                                    $('#erroralert').hide();
                                    var d = row.data();
                                    d[5] = "Force";
                                    row.data(d);
                                    row.deselect();
                                    row.invalidate();
                                },
                                complete: function (data) {
                                    $('#loadingspinner').hide();
                                },
                                timeout: 3000
                            });
                        })
                    }
                }
            ],
            dom: 'Bfrtip',
            "scrollY": "740px",
            "scrollX": false,
            "scrollCollapse": true,            
        } );
        $('#jobs_studies').DataTable().on( 'select deselect', function () {
            var selectedRows = $('#jobs_studies').DataTable().rows( { selected: true } ).count();
            $('#jobs_studies').DataTable().button(2).enable( selectedRows > 0 );
            $('#jobs_studies').DataTable().button(3).enable( selectedRows > 0 );
            $('#jobs_studies').DataTable().button(4).enable( selectedRows > 0 );            
        } );

        $('#jobs_fail').DataTable( {
            "paging":   false,
            "ordering": false,
            "info": false,
            "searching": false,
            "select": true,
            "language": {
                "emptyTable": "No failed jobs"
            },
            select: true,
            buttons: [
                {   
                    extend: 'selectAll', 
                    text: '<i class="far fa-check-square"></i>',
                    titleAttr: 'Select all',
                },
                {   
                    extend: 'selectNone', 
                    text: '<i class="far fa-square"></i>',
                    titleAttr: 'Deselect all',
                },
                {
                    text: '<i class="far fa-question-circle"></i>',
                    titleAttr: 'Job information',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_fail').DataTable().rows( { selected: true } ).data()[0][4];
                        showJobInformation(jid,"failure");
                    }
                },
                {
                    text: '<i class="fas fa-redo"></i>',
                    titleAttr: 'Restart job',
                    action: function ( e, dt, node, config ) {
                        alert("Coming soon!");
                    }
                }
            ],
            dom: 'Bfrtip',
            "scrollY": "740px",
            "scrollX": false,
            "scrollCollapse": true,            
        } );
        $('#jobs_fail').DataTable().on( 'select deselect', function () {
            var selectedRows = $('#jobs_fail').DataTable().rows( { selected: true } ).count();
            $('#jobs_fail').DataTable().button(2).enable( selectedRows > 0 );
            $('#jobs_fail').DataTable().button(3).enable( selectedRows > 0 );
        } );

        $('#jobs_archive').DataTable( {
            "paging":   false,
            "ordering": true,
            "info": false,
            "searching": false,
            "select": true,
            "language": {
                "emptyTable": "No jobs found"
            },
            select: true,
            buttons: [
                {
                    extend: 'collection',
                    autoClose: true,
                    text: '<i class="fas fa-filter"></i>',
                    className: 'queueArchiveFilter',
                    titleAttr: 'Job filter',
                    buttons: [
                        {
                            text: 'Show only STUDY jobs',
                            className: 'queueArchiveFilterButton',
                            action: function (e, dt, node, config, cb) {
                                // Toggles class when pressed
                                $(e.currentTarget).toggleClass("queueArchiveFilterButton-Checked");                       
                                archiveFilterQueue = !archiveFilterQueue;
                                archiveSearch();
                            }
                        }
                    ]
                },
                {
                    text: '<i class="far fa-question-circle"></i>',
                    titleAttr: 'Job information',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_archive').DataTable().rows( { selected: true } ).data()[0].slice(-1)[0];
                        showArchiveJobInformation(jid);
                    }
                },
                {
                    text: '<i class="fas fa-list"></i>',
                    titleAttr: 'Audit trail',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_archive').DataTable().rows( { selected: true } ).data()[0].slice(-1)[0];
                        showAuditTrail(jid);
                    }
                },
                {
                    text: '<i class="far fa-file-alt"></i>',
                    titleAttr: 'Processing log',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_archive').DataTable().rows( { selected: true } ).data()[0].slice(-1)[0];
                        showLogs(jid);
                    }
                },
                {
                    text: '<i class="fas fa-chart-bar"></i>',
                    titleAttr: 'Processing results',
                    action: function ( e, dt, node, config ) {
                        var jid = $('#jobs_archive').DataTable().rows( { selected: true } ).data()[0].slice(-1)[0];
                        showResults(jid);
                    }
                }                
            ],
            dom: 'Bfrtip',
            "scrollY": "740px",
            "scrollX": false,
            "scrollCollapse": true,
            "order": [[3, 'desc']],
            initComplete: function() {
                $('.queueArchiveFilter > .dt-down-arrow').hide()
                $('.queueArchiveFilter > .icon').hide()
            }
        } );
        $('#jobs_archive').DataTable().on( 'select deselect', function () {
            var selectedRows = $('#jobs_archive').DataTable().rows( { selected: true } ).count();
            $('#jobs_archive').DataTable().button(1).enable( selectedRows > 0 );
            $('#jobs_archive').DataTable().button(2).enable( selectedRows > 0 );
            $('#jobs_archive').DataTable().button(3).enable( selectedRows > 0 );
            $('#jobs_archive').DataTable().button(4).enable( selectedRows > 0 );
        } );
        $("#job_archive_search").on('keyup', function (event) {
            if (event.keyCode === 13) {
                archiveSearch();
            }
        });

        $('#job-events-table').DataTable( {
            "paging": false,
            "ordering": false,
            "searching": false,
            "language": {
                "emptyTable": "No events found."
            },
            dom: 'Bfrtp',
            "scrollY": "740px",
            "scrollX": true,
            "scrollCollapse": true,   
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                api
                    .column(0, { page: 'current' })
                    .data()
                    .each(function (group, i) {
                        if (last !== group) {
                            $(rows)
                                .eq(i)
                                .before('<tr class="group"><td colspan="7" class="has-text-white has-background-dark"><i class="fas fa-angle-double-right" style="color: hsl(141, 71%, 48%);"></i> Task ' + group + '</td></tr>');
                            last = group;
                        }
                    });
            },
            "columnDefs": [
              { "visible": false, "targets": 0 }
            ]
        });

        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div.panel').removeClass('is-active');
            $('div.panel[data-content="' + tab + '"]').addClass('is-active');

            update();
        });       
       
        update();
    });

    function archiveSearch()
    {
        if ($("#tab_archive").hasClass("is-active")) {
            $('#jobs_archive').DataTable().clear().draw();
            $('#jobs_archive_wrapper').show();
            $('#loadingspinner').show();
            searchTerm = $('#job_archive_search').val();
            $.ajax({
                type: 'GET',
                url: '/api/find-tasks',
                data: {'search_term': searchTerm, 'study_filter': archiveFilterQueue },
                dataType: 'json',
                error: function () {
                    $('#erroralert').show();
                },
                success: function (data) {
                    $('#erroralert').hide();
                    var jobtable = $('#jobs_archive').DataTable();
                    if (Object.keys(data).length) {
                        Object.keys(data).forEach(function (key) {
                            jobtable.row.add( [ data[key]["ACC"], data[key]["MRN"], data[key]["Scope"], data[key]["Time"], key ] );
                        })
                    }
                    $('#jobs_archive').DataTable().button(1).enable(false);
                    $('#jobs_archive').DataTable().button(2).enable(false);
                    $('#jobs_archive').DataTable().button(3).enable(false);
                    $('#jobs_archive').DataTable().button(4).enable(false);
                    jobtable.draw();
                },
                complete: function (data) {
                    $('#loadingspinner').hide();
                },
                timeout: 5000
            });
            return;
        }
    }

    function showLogs(jobId)
    {
        if (jobId === "") {
            return;
        }
        $("#process_logs").addClass("is-loading");   

        $.ajax({
            type: 'GET',
            url: '/api/task-process-logs',
            data: {'task_id': jobId},
            dataType: 'json',
            error: function () {
                // $('#erroralert').show();
            },
            success: function (data) {
                if (data && data.length > 0) {
                    var logText = "";
                    for (var i = 0; i < data.length; i++) {
                        logText += "### Module " + (i+1).toString()  +  " -- Begin\n\n";
                        logText += data[i].logs;
                        logText += "\n### Module " + (i+1).toString() + " -- Complete\n\n";
                    }
                    $("#process_logs_display").text(logText);
                } else {
                    $("#process_logs_display").text("No processing log available for selected task.")
                }
                $("#process_logs").addClass("is-active");
            },
            timeout: 5000
        });
    }

    function showResults(jobId)
    {
        if (jobId === "") {
            return;
        }
        $("#process_results").addClass("is-loading");   

        $.ajax({
            type: 'GET',
            url: '/api/task-process-results',
            data: {'task_id': jobId},
            dataType: 'json',
            error: function () {
                // $('#erroralert').show();
            },
            success: function (data) {
                if (data && data.length > 0) {
                    var resultsText = "";
                    for (var i = 0; i < data.length; i++) {
                        resultsText += "### Module " + data[i].module + "\n\n";
                        resultsText += JSON.stringify(data[i].output, null, 4);
                        resultsText += "\n\n";
                    }
                    $("#process_results_display").text(resultsText);
                } else {
                    $("#process_results_display").text("No processing results exist for the selected task.")
                }
                $("#process_results").addClass("is-active");
            },
            timeout: 5000
        });
    }

    function showAuditTrail(jobId)
    {
        if (jobId === "") {
            return;
        }

        $("#jobaudittrail").addClass("is-active");
        $("#jobaudittrail").addClass("is-loading");        

        $.ajax({
            type: 'GET',
            url: '/api/get-task-events',
            data: {'task_id': jobId},
            dataType: 'json',
            error: function () {
                // $('#erroralert').show();
            },
            success: function (data) {
                var eventstable = $('#job-events-table').DataTable().clear();
                Object.keys(data).forEach(function (key) {
                    eventstable.row.add([ data[key]["task_id"].slice(0,8) || "", data[key]["time"], data[key]["event"], data[key]["sender"], data[key]["target"], data[key]["file_count"], data[key]["info"] ])
                })
                eventstable.draw();
            },
            timeout: 3000
        });
    }

    function closeJobAuditTrail()
    {
        $("#jobaudittrail").removeClass("is-active");
    }

    function closeProcessLogs()
    {
        $("#process_logs").removeClass("is-active");
    }

    function closeProcessResults()
    {
        $("#process_results").removeClass("is-active");
    }

    function showJobInformation(jobId,category)
    {
        if ((jobId === "") || (category === "")) {
            return;
        }

        $('#jobinfo-renderer').jsonViewer();
        $("#jobinformation").addClass("is-active");
        $("#jobinfocontrol").addClass("is-loading");        

        $.ajax({
            type: 'GET',
            url: '/queue/jobinfo/' + category + '/' + jobId,
            data: {},
            dataType: 'json',
            success: function (data) {
                textContent = ""
                try {
                    var jsondata = JSON.parse(data);
                    textContent = JSON.stringify(jsondata, null, 4);
                } catch(e) {
                    textContent = data;
                }                
                $('#jobinfo-renderer').jsonViewer(jsondata, {rootCollapsable: false, collapsed: true});
                $("#jobinfo-renderer > ul > li:nth-child(1) > a").click();                
            },
            error: function (data, status) {
                if (status === "parsererror") {                    
                    $("#jobinformationcontent").html(data.responseText);
                } else {
                    $("#jobinformationcontent").html("ERROR: Unable to retrieve job information");
                }
            },
            complete: function (data) {
                $("#jobinfocontrol").removeClass("is-loading");  
            }
        });
    }

    function closeJobInformation()
    {
        $("#jobinformation").removeClass("is-active");
        $('#jobinfo-renderer').jsonViewer();
    }

    function showArchiveJobInformation(jobId)
    {
        if (jobId === "") {
            return;
        }

        $('#json-renderer').jsonViewer({});
        $("#jobarchiveinformation").addClass("is-active");
        $("#jobarchiveinfocontrol").addClass("is-loading");        

        $.ajax({
            type: 'GET',
            url: '/api/get-task-info',
            data: {'task_id': jobId},
            dataType: 'json',
            error: function () {
                // $('#erroralert').show();
            },
            success: function (data) {
                $('#json-renderer').jsonViewer(data, {rootCollapsable: false, collapsed: true});
                $("#json-renderer > ul > li:nth-child(1) > a").click();
            },
            complete: function (data) {
                $("#jobarchiveinfocontrol").removeClass("is-loading");  
            },
            timeout: 3000
        });
    }

    function closeJobArchiveInformation()
    {
        $("#jobarchiveinformation").removeClass("is-active");
        $('#json-renderer').jsonViewer();
    }

    var updateTimer;

    function toggleAutoUpdate()
    {
        $("#autoupdate").toggleClass("is-dark");
        $("#autoupdate").blur();

        if ($("#autoupdate").hasClass("is-dark")) {
            updateTimer = setInterval(update, 10000);
        } else {
            clearInterval(updateTimer);
        }
    }

</script>

{% endblock %}
