{% extends "base.html" %}

{% block title %}Rules{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{{ url_for('static', path='/js/bulma-quickview.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/dicomParser.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/js/dataDictionary.js') }}"></script>

{% endblock %}
{% block content %}
<main role="main">
    <div class="container">
        <h1 class="title">Edit Rule - {{rule}}</h1>

        <div class="notification is-danger" id="erroralert" style="display: none;">
            <i class="fas fa-bug"></i>&nbsp;&nbsp;Error in configuration detected. Please check input fields for correct
            syntax.
        </div>

        <div class="tabs is-centered is-toggle is-toggle-rounded" style="margin-top: 30px;" id="tabs">
            <ul>
                <li data-tab="filtering" class="is-active">
                    <a>
                        <span class="icon"><i class="fas fa-filter"></i></span>
                        <span>Filtering</span>
                    </a>
                </li>
                <li data-tab="processing">
                    <a>
                        <span class="icon"><i class="fa fa-microchip"></i></span>
                        <span>Processing</span>
                    </a>
                </li>
                <li data-tab="routing">
                    <a>
                        <span class="icon"><i class="fa fa-directions"></i></span>
                        <span>Routing</span>
                    </a>
                </li>
                <li data-tab="notification">
                    <a>
                        <span class="icon"><i class="fa fa-bullhorn"></i></span>
                        <span>Notification</span>
                    </a>
                </li>
                <li data-tab="information">
                    <a>
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <span>Information</span>
                    </a>
                </li>
            </ul>
        </div>

        <form method="post" onsubmit="return validate()">
            <div id="tab-content">
                <div class="panel is-active" data-content="filtering">
                    <div class="field">
                        <label class="label">Selection Rule</label>
                        <div class="field has-addons">
                            <div class="control">
                                <!-- <button class="button" type="button" onclick="showTestRule()" title="Test rule">
                                    <i class="fas fa-cogs "></i>
                                </button> -->
                            </div>
                            <div class="control is-expanded">
                                <textarea rows="1" name="rule" id="rule" class="textarea testinclude" autocomplete='off'
                                    onkeyup="this.value = this.value.replace(/[{}\x22\n]/g, '')" type="text"
                                    placeholder="Routing rule"
                                    style="border-top-left-radius: 0px; border-bottom-left-radius: 0px; padding-top: 5px; padding-bottom: 5px; min-height: 36px; height: 36px;">{{rules[rule]['rule']}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="field  is-grouped is-grouped-right">
                        <button class="button" type="button" data-show="quickview" data-target="quickviewDefault"
                            style="margin: 0px;">
                            <i class="fas fa-tags"></i>&nbsp;Available Tags
                        </button>
                    </div>
                    <details><summary class="has-text-weight-bold" style="cursor: pointer;"><i class="fa fa-cogs"></i>&nbsp;Test Rule </summary>
                        <div class="card column is-10" style="margin-left: auto; margin-right:auto; margin-top: 1em; margin-bottom: 1em;">
                            <div class="card-content">
                              <div class="content">

                                <div class="tile is-ancestor">
                                        <div class="tile is-vertical is-12">
                                        <div class="tile" style="min-height: 10em;">
                                            <div class="tile is-parent is-vertical" id="dropZone">
                                            <article class="tile is-child notification is-info">
                                                <p class="title" style="text-align: center;">Drag-and-drop a DICOM file here</p>
                                                <p id="dropStatus">&nbsp;</p>
                                            </article>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <article id="characterSetWarning" class="message is-warning is-hidden">
                                        <div class="message-header">
                                        <p>Unsupported character set</p>
                                        </div>
                                        <div class="message-body">
                                            The testing tool does not support this character set and may behave differently from the real Mercure rule evaluator. 
                                        </div>
                                    </article>
                                    <div class="container">
                                        <div class="field">
                                            <label class="label">Result:</label>
                                            <div id="testresult" style="height: 3em;"></div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Test Values:</label>
                                            <div class="control">
                                                <textarea class="textarea testinclude" rows="8" placeholder="Testing tags" id="testvalues"
                                                    name="testvalues">{{alltags|tojson(indent=4)}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button is-dark" style="margin-left: auto; margin-right: 0; display: block; margin-top: 1em;" default autofocus id="evaltestrule" hx-post="/rules/test"
                                        hx-include=".testinclude"  hx-target="#testresult"><i class="fas fa-cogs"></i>&nbsp;Test</button>
                    <!-- <button class="button" type="button" id="closetestrule" onclick="closeTestRule()">Close</button> -->
                              </div>
                          </div>            
                       </div>
                    </details>
                    <div class="field">
                        <label class="label">Action</label>
                        <div class="select">
                            <div class="control">
                                <select name="action" id="action">
                                    <option value="route" {% if rules[rule]['action']=='route' %}selected{% endif%}>
                                        Routing</option>
                                    <option value="both" {% if rules[rule]['action']=='both' %}selected{% endif%}>
                                        Processing & Routing</option>
                                    <option value="process" {% if rules[rule]['action']=='process' %}selected{% endif%}>
                                        Processing Only</option>
                                    <option value="notification" {% if rules[rule]['action']=='notification'
                                        %}selected{% endif%}>Notification
                                        Only</option>
                                    <option value="discard" {% if rules[rule]['action']=='discard' %}selected{% endif%}>
                                        Force Discard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Trigger</label>
                        <div class="select">
                            <div class="control">
                                <select name="action_trigger" id="action_trigger">
                                    <option value="series" {% if rules[rule]['action_trigger']=='series' %}selected{%
                                        endif%}>Completed
                                        Series</option>
                                    <option value="study" {% if rules[rule]['action_trigger']=='study' %}selected{%
                                        endif%}>Completed
                                        Study</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field" id="study_trigger_field">
                        <label class="label">Completion Criteria</label>
                        <div class="field has-addons">
                            <div class="select">
                                <select name="study_trigger_condition" id="study_trigger_condition">
                                    <option value="timeout" {% if rules[rule]['study_trigger_condition']=='timeout'
                                        %}selected{% endif%}>Timeout Reached
                                    </option>
                                    <option value="received_series" {% if
                                        rules[rule]['study_trigger_condition']=='received_series' %}selected{% endif%}>
                                        Listed Series Received
                                    </option>
                                </select>
                            </div>
                            <div class="control is-expanded" style="margin-left: 10px;">
                                <div class="field has-addons" id="study_trigger_series_section">
                                    <input name="study_trigger_series" id="study_trigger_series" pattern="[^{}\x22]+" onkeyup="this.value = this.value.replace(/[{}\x22\n]/g, '')"
                                        class="input series_completion_fix" autocomplete='off' type="text"
                                        placeholder="Series required for completion"
                                        value="{{rules[rule]['study_trigger_series']}}">
                                    <button class="button" type="button" onclick="showTestCompletionSeries()" title="Test rule">
                                        <i class="fas fa-spell-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Priority</label>
                        <div class="select">
                            <div class="control">
                                <select name="priority" id="priority">
                                    <option value="normal" {% if rules[rule]['priority']=='normal' %}selected{% endif%}>
                                        Normal</option>
                                    <option value="urgent" {% if rules[rule]['priority']=='urgent' %}selected{% endif%}>
                                        Urgent</option>
                                    <option value="offpeak" {% if rules[rule]['priority']=='offpeak' %}selected{%
                                        endif%}>Off-Peak</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field" style="margin-top: 40px;">
                        <label class="label">Status</label>
                        <div class="select" style="display: none;">
                            <div class="control">
                                <select name="disabled">
                                    <option value="False" {% if rules[rule]['disabled']=='False' %}selected{% endif%}>
                                        Enabled</option>
                                    <option value="True" {% if rules[rule]['disabled']=='True' %}selected{% endif%}>
                                        Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input id="status_disabled" type="checkbox" name="status_disabled"
                            class="switch is-danger is-rounded" value="True" {% if rules[rule]['disabled']=='True'
                            %}checked="checked" {% endif%}>
                        <label for="status_disabled">Disable Rule</label>
                    </div>
                    <div class="field">
                        <input id="status_fallback" type="checkbox" name="status_fallback"
                            class="switch is-dark is-rounded" value="True" {% if rules[rule]['fallback']=='True'
                            %}checked="checked" {% endif%}>
                        <label for="status_fallback">Fallback Rule</label>
                    </div>
                </div>
                <div class="panel" data-content="processing">
                    <div class="field">
                        <div class="field">
                            <label class="label">Module</label>
                            <div class="select">
                                <div class="control">
                                    <select name="processing_module">
                                        {% for t in modules %}
                                        <option value="{{t}}" {% if rules[rule]['processing_module']==t %}selected{%
                                            endif%}>{{ t }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Settings</label>
                        <div class="control">
                            <textarea name="processing_settings" id="processing_settings" class="textarea"
                                autocomplete='off' rows="10"
                                placeholder="Rule-specific module settings">{{processing_settings}}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Data Flow</label>
                        <input id="processing_retain_images" type="checkbox" name="processing_retain_images"
                            class="switch is-rounded is-dark" value="True" {% if
                            rules[rule]['processing_retain_images']=='True' %}checked="checked" {% endif%}>
                        <label for="processing_retain_images">Retain Input Images</label>
                    </div>                    
                </div>
                <div class="panel" data-content="routing">
                    <div class="field">
                        <label class="label">Target</label>
                        <div class="select">
                            <div class="control">
                                <select name="target">
                                    {% for t in targets %}
                                    <option value="{{t}}" {% if rules[rule]['target']==t %}selected{% endif%}>{{ t }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--                        
                        <a class="button is-frameless has-tooltip-right has-tooltip-success" data-tooltip="Remove target">
                            <span class="icon is-small">
                            <i class="fas fa-times"></i>
                            </span>
                        </a>
-->
                    </div>
                    <!--
                    <a class="button has-tooltip-right has-tooltip-success" data-tooltip="Add extra target">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
-->
                </div>
                <div class="panel" data-content="notification">
                    <div class="field">
                        <label class="label">Webhook URL</label>
                        <div class="control">
                            <input name="notification_webhook" class="input" autocomplete='off' type="url"
                                pattern="https://.*" placeholder="REST endpoint"
                                value="{{rules[rule]['notification_webhook']}}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Payload</label>
                        <div class="control">
                            <textarea name="notification_payload" id="notification_payload" class="textarea"
                                autocomplete='off'
                                placeholder="Data for body of REST call">{{rules[rule]['notification_payload']}}</textarea>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="dropdown is-right">
                            <div class="dropdown-trigger">
                                <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span><i class="fas fa-code"></i>&nbsp;Insert Template</span>
                                    <span class="icon is-small"><i class="fas fa-angle-down"
                                            aria-hidden="true"></i></span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" id="template_slack" class="dropdown-item">
                                        Slack
                                    </a>
                                    <a href="#" id="template_webex" class="dropdown-item">
                                        WebEx Teams
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Trigger</label>
                    </div>
                    <div class="field">
                        <input id="notification_trigger_reception" type="checkbox" name="notification_trigger_reception"
                            class="switch is-rounded is-dark" value="True" {% if
                            rules[rule]['notification_trigger_reception']=='True' %}checked="checked" {% endif%}>
                        <label for="notification_trigger_reception">Reception</label>
                    </div>
                    <div class="field">
                        <input id="notification_trigger_completion" type="checkbox"
                            name="notification_trigger_completion" class="switch is-rounded is-dark" value="True" {% if
                            rules[rule]['notification_trigger_completion']=='True' %}checked="checked" {% endif%}>
                        <label for="notification_trigger_completion">Completion</label>
                    </div>
                    <div class="field">
                        <input id="notification_trigger_error" type="checkbox" name="notification_trigger_error"
                            class="switch is-rounded is-dark" value="True" {% if
                            rules[rule]['notification_trigger_error']=='True' %}checked="checked" {% endif%}>
                        <label for="notification_trigger_error">Error</label>
                    </div>
                </div>
                <div class="panel" data-content="information">
                    <div class="field">
                        <label class="label">Comment</label>
                        <div class="control">
                            <textarea name="comment" class="textarea" autocomplete='off' rows="5"
                                placeholder="Rule description">{{rules[rule]['comment']}}</textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Contact</label>
                        <div class="control">
                            <input name="contact" class="input" autocomplete='off' type="email"
                                placeholder="Email address" value="{{rules[rule]['contact']}}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Tags</label>
                        <div class="control" style="min-height: 40px;">
                            <input id="tags" name="tags" class="input" type="tags" placeholder="Add tags"
                                value="{{rules[rule]['tags']}}"
                                style="height: 36px !important; font-size: 13.33px !important;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control buttons is-expanded" style="margin-top: 50px;">
                    <button type="submit" class="button is-success" value="default action" id="savebutton">
                        <i class="fas fa-save"></i>&nbsp;Save
                    </button>
                    <a class="button" href="/rules"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </form>
    </div>
</main>

<div class="modal" id="testcompletionseries">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 768px;">
        <header class="modal-card-head">
            <p class="modal-card-title">Required Series</p>
        </header>
        <section class="modal-card-body">
            <div class="container">
                <div class="field">
                    <label class="label">Example:</label>
                    <div>'Axial T2' and ('Sag T1 GRE' or 'Sag T1 TSE')</div>
                </div>
                <div class="field">
                    <label class="label">Current Value:</label>
                    <div id="testcompletionseriesresult" style="height: 3em;"></div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot buttons is-centered">
            <button style="display: none;" class="button" id="evaltestcompletionseries" hx-post="/rules/test_completionseries"
                hx-include="#study_trigger_series" hx-target="#testcompletionseriesresult">Test</button>            
            <button class="button" type="button" id="closetestcompletionseries" onclick="closeTestCompletionSeries()">Close</button>
        </footer>
    </div>
</div>

<div id="quickviewDefault" class="quickview">
    <header class="quickview-header quickviewtitle">
        <p class="title">Rule Notation</p>
        <span class="delete" data-dismiss="quickview"></span>
    </header>
    <div class="quickview-body">
        <div class="quickview-block" style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <div class="table-container">
                <label class="label">Examples:</label>
                <table class="table is-fullwidth is-hoverable is-bordered">
                    <tr>
                        <td>(@Modality@ == 'MR') and ('GRASP' in @StudyDescription@)</td>
                    </tr>
                    <tr>
                        <td>(float(@SeriesNumber@) > 100) or (@ScanningSequence@.lower()=='gr')</td>
                    </tr>
                </table>
            </div>
            <div class="table-container">
                <label class="label">Available Tags:</label>
                <table class="table is-fullwidth is-hoverable is-bordered">
                    {% for tag in sortedtags %}
                    <tr>
                        <td><button class="button is-small is-dark" value="@{{tag}}@"
                                onclick="copyTag(this.value)">Copy</button> &nbsp;&nbsp;@{{tag}}@</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <input type="text" id="copyinput" value="test" style="display: none;">
        </div>
    </div>
    <footer class="quickview-footer is-centered buttons">
        <button class="button" type="button" data-dismiss="quickview">Close</button>
    </footer>
</div>

<script>
    function validate() {
        var field = "";
        try {
            if ($('#processing_settings').val() == "") {
                $('#processing_settings').val("{}");
            }
            field = "Processing > Settings";
            JSON.parse($('#processing_settings').val());
            field = "Notification > Payload";
            str = '{' + $('#notification_payload').val() + '}';
            JSON.parse(str);
        } catch (e) {
            $('#erroralert').html('<i class="fas fa-bug"></i>&nbsp;&nbsp;Invalid content in field "' + field + '". Please check for correct syntax.');
            $('#erroralert').show();
            return false;
        }
        return true;
    }

    function showTestRule() {
        $("#testresult").html("Rule not yet tested");
        $("#testrule").addClass("is-active");
        $("#evaltestrule").focus();
        $("#evaltestrule").click();
    }

    function closeTestRule() {
        $("#testrule").removeClass("is-active");
    }

    function showTestCompletionSeries() {
        $("#testcompletionseries").addClass("is-active");
        $("#evaltestcompletionseries").click();
    }

    function closeTestCompletionSeries() {
        $("#testcompletionseries").removeClass("is-active");
    }

    function copyTag(value) {
        $("#copyinput").val(value);
        $("#copyinput").css("display", "block");

        var copyText = document.getElementById("copyinput");
        copyText.select();
        document.execCommand("copy");

        $("#copyinput").css("display", "none");
    }

    $(function () {
        $('#rule').keypress(function (e) {
            var chr = String.fromCharCode(e.which);
            if ("{}\"".indexOf(chr) >= 0)
                return false;
        });
    });

    $('#rule').on('input', function () {
        $(this).outerHeight(36).outerHeight(this.scrollHeight + 2);
    });

    $(document).ready(function () {
        var quickviews = bulmaQuickview.attach();

        $('#rule').outerHeight($('#rule').prop('scrollHeight') + 2);

        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div.panel').removeClass('is-active');
            $('div.panel[data-content="' + tab + '"]').addClass('is-active');
        });

        $('#action').change(function () {
            var action = $(this).children("option:selected").val();

            if (action == 'route') {
                $('#tabs li[data-tab="processing"]').addClass('is-disabled');
                $('#tabs li[data-tab="routing"]').removeClass('is-disabled');
            }
            if (action == 'both') {
                $('#tabs li[data-tab="processing"]').removeClass('is-disabled');
                $('#tabs li[data-tab="routing"]').removeClass('is-disabled');
            }
            if (action == 'process') {
                $('#tabs li[data-tab="processing"]').removeClass('is-disabled');
                $('#tabs li[data-tab="routing"]').addClass('is-disabled');
            }
            if ((action == 'discard') || (action == 'notification')) {
                $('#tabs li[data-tab="processing"]').addClass('is-disabled');
                $('#tabs li[data-tab="routing"]').addClass('is-disabled');
            }
        });

        $('#action_trigger').change(function () {
            var action_trigger = $(this).children("option:selected").val();

            if (action_trigger == 'series') {
                $('#study_trigger_field').hide();
                $('#study_trigger_series').prop('required', false);
            } else {
                $('#study_trigger_field').show();
            }
        });

        $('#study_trigger_condition').change(function () {
            var study_trigger = $(this).children("option:selected").val();

            if (study_trigger == 'timeout') {
                $('#study_trigger_series_section').hide();
                $('#study_trigger_series').prop('required', false);
            } else {
                $('#study_trigger_series_section').show();
                $('#study_trigger_series').prop('required', true);
            }
        });

        $("#action").trigger('change');
        $("#action_trigger").trigger('change');
        $("#study_trigger_condition").trigger('change');

        var dropdown = document.querySelector('.dropdown');
        dropdown.addEventListener('click', function (event) {
            event.stopPropagation();
            dropdown.classList.toggle('is-active');
        });

        $('#template_slack').click(function () {
            $('#notification_payload').val('"text": "Rule @rule@ triggered @event@",\n"channel": "YOUR_CHANNEL_ID"');
        });

        $('#template_webex').click(function () {
            $('#notification_payload').val('"text": "Rule @rule@ triggered @event@"');
        });

        $("#savebutton").click(function(){
            if ($("#action_trigger").val() == 'series') {
                $('#study_trigger_series').prop('required', false);
            }
        });       


        tagsToGet = ["SpecificCharacterSet","PatientName","SOPInstanceUID","SeriesInstanceUID","StudyInstanceUID","Modality","BodyPartExamined","ProtocolName","RetrieveAETitle","StationAETitle","Manufacturer","ManufacturerModelName","StudyDescription","CodeValue","CodeMeaning","SeriesDescription","PatientID","PatientBirthDate","PatientSex","AccessionNumber","ReferringPhysicianName","StudyID","SeriesNumber","SeriesDate","SeriesTime","AcquisitionDate","AcquisitionTime","SequenceName","ScanningSequence","SequenceVariant","MagneticFieldStrength","StationName","DeviceSerialNumber","DeviceUID","SoftwareVersions","ContrastBolusAgent","ImageComments","SliceThickness","InstanceNumber","AcquisitionNumber","InstitutionName","MediaStorageSOPClassUID","AcquisitionType"]
        
        function dumpDataSet(dataSet, output)
        {
            function getTag(tag)
            {
                var group = tag.substring(1,5);
                var element = tag.substring(5,9);
                var tagIndex = ("("+group+","+element+")").toUpperCase();
                var attr = TAG_DICT[tagIndex];
                return attr;
            }


            try {
                var keys = [];
                for(var propertyName in dataSet.elements) {
                    keys.push(propertyName);
                }
                keys.sort();
                for(var k=0; k < keys.length; k++) {
                    var propertyName = keys[k];
                    var element = dataSet.elements[propertyName];
                    var tag = getTag(element.tag);
                    if (tagsToGet.indexOf(tag.name) >= 0) {
                        output[tag.name] = dataSet.string(propertyName)
                    }
                }
            } catch(err) {
                var ex = {
                    exception: err,
                    output: output
                }
                throw ex;
            }
        }
        function dumpFile(file)
        {
            var reader = new FileReader();
            reader.onload = function(k) {
                var arrayBuffer = reader.result;
                // Here we have the file data as an ArrayBuffer.  dicomParser requires as input a
                // Uint8Array so we create that here
                var byteArray = new Uint8Array(arrayBuffer);
                try {
                    dataSet = dicomParser.parseDicom(byteArray, {"untilTag": "x7fe00010"});
                    output = {}
                    dumpDataSet(dataSet,output)
                    if (output["SpecificCharacterSet"] != undefined && output["SpecificCharacterSet"] != "ISO_IR 100" && output["SpecificCharacterSet"] != "ISO_IR 192") {
                        $("#characterSetWarning").removeClass("is-hidden")
                    } else {
                        $("#characterSetWarning").addClass("is-hidden")
                    }
                    $("#dropZone article").addClass("is-success").removeClass("is-primary").removeClass("is-danger")
                    $("#dropStatus").text("Loaded " + file.name)
                    $('#testvalues').val(JSON.stringify(output, null, '\t'))
                    $('#evaltestrule').click()
                } catch (e) {
                    $("#dropZone article").addClass("is-danger").removeClass("is-primary")
                    $("#dropStatus").text("Error: " + e)
                    $("#testresult").html('<span class="tag tag has-text-white  has-background-grey is-medium ruleresult">Unknown</a>')
                    console.error(e)
                }
            }
            try { 
                reader.readAsArrayBuffer(file);
            } catch (e) {
                $("#dropZone article").addClass("is-danger").removeClass("is-primary")
                $("#dropStatus").text("Error: " + e)
                $("#testresult").html('<span class="tag tag has-text-white  has-background-grey is-medium ruleresult">Unknown</a>')
                console.error(e)
            }
        }
        function handleFileSelect(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            $("#dropZone article").css("outline","")
            // Get the FileList object that contains the list of files that were dropped
            var files = evt.dataTransfer.files;

            // this UI is only built for a single file so just dump the first one
            $("#dropStatus").text("Parsing...")
            dumpFile(files[0]);
        }

        function handleDragOver(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
            $("#dropZone article").css("outline","4px dashed blue")
        }
        function handleDragLeave(evt) {
            $("#dropZone article").css("outline","")
        }
        var dropZone = document.getElementById('dropZone');
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('dragleave', handleDragLeave, false);
        dropZone.addEventListener('drop', handleFileSelect, false);
    });
</script>
<script type="text/javascript" src="{{ url_for('static', path='/js/bulma-tagsinput.min.js') }}"></script>
<script>
    bulmaTagsinput.attach();
</script>

{% endblock %}