{% extends "base.html" %}

{% block title %}Targets{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="title">Edit Target - {{edittarget}}</h1>

        <div class="tabs is-centered is-toggle is-toggle-rounded" style="margin-top: 30px;" id="tabs">
            <ul>
                <li data-tab="configuration" class="is-active">
                    <a>
                        <span class="icon"><i class="fas fa-network-wired"></i></span>
                        <span>Configuration</span>
                    </a>
                </li>
                <li data-tab="information">
                    <a>
                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                        <span>Information</span>
                    </a>
                </li>
            </ul>
        </div>

        <form method="post">
            <div id="tab-content">
                <div class="panel is-active" data-content="configuration">

                    <div class="field">
                        <label class="label">Type</label>
                        <div class="select">
                            <div class="control">
                                <select name="target_type" id="target_type" value="{{targets[edittarget].target_type}}">
                                    <option value="dicom" {% if targets[edittarget].target_type=="dicom" %}selected=true {%endif%}>DICOM Node</option>
                                    <option value="sftp" {% if targets[edittarget].target_type=="sftp" %}selected=true {%endif%}>SFTP Server</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="form-sftp" class="is-hidden">
                        <div class="notification is-info" style="margin-top: 30px;">
                            <i class="fas fa-snowplow"></i>&nbsp;&nbsp;Support for SFTP servers is experimental at this time.
                        </div>                        
                        <div class="field" style="margin-top: 30px;">
                            <label class="label">Host/IP</label>
                            <div class="control">
                                <input name="host" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="Host name or IP" value="{{targets[edittarget].host}}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Folder</label>
                            <div class="control">
                                <input name="folder" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="Folder" value="{{targets[edittarget].folder}}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">User</label>
                            <div class="control">
                                <input name="user" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="User" value="{{targets[edittarget].user}}" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input name="password" class="input" autocomplete='off' type="text"
                                    placeholder="Password" value="{%if targets[edittarget].password%}{{targets[edittarget].password}}{%endif%}" />
                            </div>
                        </div>

                    </div>

                    <div id="form-dicom">
                        <div class="field" style="margin-top: 30px;">
                            <label class="label">Host/IP</label>
                            <div class="control">
                                <input name="ip" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="Host name or IP" value="{{targets[edittarget]['ip']}}" minlength="7" maxlength="15"
                                    size="15">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Port</label>
                            <div class="control">
                                <input name="port" class="input" required='true' autocomplete='off' type="number" placeholder="104"
                                    minlength="2" maxlength="5" value="{{targets[edittarget]['port']}}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">AET Target</label>
                            <div class="control">
                                <input name="aet_target" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="Calling AET" value="{{targets[edittarget]['aet_target']}}"
                                    pattern="[A-Za-z0-9_-]+">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">AET Source</label>
                            <div class="control">
                                <input name="aet_source" class="input" required='true' autocomplete='off' type="text"
                                    placeholder="Outgoing AET" value="{{targets[edittarget]['aet_source']}}"
                                    pattern="[A-Za-z0-9_-]+">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel" data-content="information">
                    <div class="field">
                        <label class="label" for="comment">Comment</label>
                        <div class="control">
                            <textarea name="comment" id="comment" class="textarea"
                                autocomplete='off' rows="5"
                                placeholder="Target description">{{targets[edittarget]['comment']}}</textarea>
                        </div>
                    </div>            
                    <div class="field" >
                        <label class="label">Contact</label>
                        <div class="control">
                            <input name="contact" class="input" autocomplete='off' type="email" placeholder="Email address"
                                value="{{targets[edittarget]['contact']}}">
                        </div>
                    </div>
                </div>                                
            </div>                    
            <div class="field">
                <p class="control buttons" style="margin-top: 50px;">
                    <button type="submit" class="button is-success" value="default action">
                        <i class="fas fa-save"></i>&nbsp;Save
                    </button>
                    <a class="button" href="/targets"><i class="fas fa-ban"></i>&nbsp;Cancel</a>
                </p>
            </div>
        </form>
    </div>
</main>

<script>
    $(document).ready(function () {
        update_form = function(value) {
            if (value == "sftp") {
                $('#form-sftp').removeClass('is-hidden');
                $('#form-sftp input[was-required=true]').attr("required", true);
                $('#form-dicom').addClass('is-hidden');

                $('#form-dicom input[required=true]').attr("was-required", true);
                $('#form-dicom input').attr("required", false);
            } else if (value == "dicom") {
                $('#form-dicom').removeClass('is-hidden');
                $('#form-dicom input[was-required=true]').attr("required", true);
                $('#form-sftp').addClass('is-hidden');
                $('#form-sftp input[required=true]').attr("was-required", true);
                $('#form-sftp input').attr("required", false);
            }
        }
        $('#target_type').on('change', function (e) {
            update_form(e.target.value)
        })
        update_form($('#target_type').val())
        
        $('#tabs li').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li').removeClass('is-active');
            $(this).addClass('is-active');

            $('#tab-content div.panel').removeClass('is-active');
            $('div.panel[data-content="' + tab + '"]').addClass('is-active');
        });
    });
</script>

{% endblock %}