a:visited {
    color:  hsl(141, 71%, 48%);
}

a {
    color:  hsl(141, 71%, 48%);
}

a:hover {
    filter: brightness(85%);
    color:  hsl(141, 71%, 48%);
}

.wy-menu-vertical a {
    color: #d9d9d9;
}

.wy-menu-vertical a:hover {
    color: #FFF;
}

.highlight {
    background-color: #FFF;
}

.wy-side-nav-search {
    background-color: #000
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color:  hsl(141, 71%, 48%);
}

.wy-menu-vertical a:active {
    background-color:  hsl(141, 71%, 48%);
}

.wy-side-nav-search>a {
    margin-bottom: 4px;
    margin-right: 10px;
}

.wy-side-nav-search input[type=text] {
    border-color: hsl(141, 71%, 48%);
    margin-bottom: 10px;
    width: 92%;
    margin-right: 10px;
    border-radius: 0px;
}

.wy-side-nav-search {
    border-bottom: 3px solid hsl(141, 71%, 48%);
}

.wy-nav-top {
    background-color: #000;
}