a:visited {
    color:  hsl(141, 71%, 42%);
}

a {
    color:  hsl(141, 71%, 42%);
}

a:hover {
    color:  hsl(141, 71%, 48%);
    text-decoration: underline;
}

.wy-side-nav-search > a {
    filter: none;
}

.wy-menu-vertical a {
    color: #d9d9d9;
}

.wy-menu-vertical a:hover {
    color: #FFF;
}

.highlight {
    background-color: #f5f5f5;
}

.wy-side-nav-search {
    background-color: hsl(141, 71%, 48%);
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color:  hsl(141, 71%, 48%);
}

.wy-menu-vertical a:active {
    background-color:  hsl(141, 71%, 48%);
}

.wy-side-nav-search>a {
    margin-bottom: 4px;
    margin-right: 16px;
    width: 190px;
}

.wy-side-nav-search input[type=text] {
    border-color: hsl(141, 71%, 48%);
    margin-bottom: 10px;
    width: 92%;
    margin-right: 10px;
    border-radius: 0px;
}

.wy-nav-top {
    background-color: hsl(141, 71%, 48%);
}

.wy-nav-top a, .wy-nav-top a:visited {
    color: #FFF;
}

.wy-nav-top a {
    font-size: 24px;
}

.wy-nav-top a:hover {
    text-decoration: none;
}

.wy-nav-side {
    background-color: #000;
}

.wy-nav-content {
    background-color: #FFF;    
}

body {
    color: #363636;
}

body, button, input, select, textarea,
h1, h2, h3, h4, h5, h6,
.rst-content .toctree-wrapper p.caption,
input[type="text"] {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a:hover,
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
    background-color: #FFF;
}

.btn-neutral {
    background-color: #FFF !important;
}

.btn-neutral:hover {
    background-color: hsl(141, 71%, 48%) !important;
    filter: none;
    color: #FFF !important;
    text-decoration: none;
}

.btn {
    box-shadow: none;
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    transition: none;
}

.btn:active {
    box-shadow: none;
    padding: 8px 12px 8px 12px;
}

.wy-alert.wy-alert-info .wy-alert-title,
.rst-content .note .admonition-title {
    background-color: #23d160;
}

.wy-alert.wy-alert-info,
.rst-content .note {
    background-color: #e5fbed;
}

.rst-content .tip .admonition-title, 
.rst-content .hint .admonition-title,
.rst-content .seealso .admonition-title {
    background-color: #363636;
}

.rst-content .tip,
.rst-content .hint,
.rst-content .seealso {
    background-color: #eaeaea;
}

.rst-content .warning .admonition-title,
.rst-content .attention .admonition-title, 
.rst-content .important .admonition-title{
    background-color: #ff3860;
}

.rst-content .warning,
.rst-content .attention,
.rst-content .important {
    background-color: #ffe9ed;
}

.rst-content dl:not(.docutils) dt {    
    border-top: solid 3px #3273dc;
    color: #3273dc;
    background-color: #f6f9fe;
}

.rst-content .viewcode-link {
    color: hsl(141, 71%, 42%);
}

ul.simple li, ul.simple li p {
    margin-bottom: 12px !important;
}

footer {
    margin-top: 50px;
}

h2 {
    margin-top: 40px;
}

img.border {
    box-shadow: 0 5px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

img.logo {
    padding: 0px;
}

html.writer-html5 .rst-content table.docutils td>p {
    line-height: unset;
}

.videobox {
    border: solid 2px hsl(141, 71%, 48%);
    background-color: hsl(141, 71%, 48%);
}
.videocontainer_mobile {
    display: none;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.videocontainer_desktop {
    display: inherit;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 992px) {
    .videocontainer_mobile {
        display: inherit;
    }
    .videocontainer_desktop {
        display: none;
    }
}

.rst-versions .rst-current-version {
    background-color: hsl(141, 71%, 48%);
}

.wy-side-nav-search>div.version {
    color: hsla(0,0%,100%,.5);
}

.wy-menu-vertical {
    margin-bottom: 20px;
}

.chat-button, .chat-button:visited {
    color: #FFF;
    background-color: hsl(141, 71%, 48%);
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 1em 3em;
    border: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    transition: all .3s ease;
  }
  