<tr>
    <td>Type:</td>
    <td>DICOM Node</td>
</tr>
<tr>
    <td>Host/IP:</td>
    <td>{{ target.ip }}</td>
</tr>
<tr>
    <td>Port:</td>
    <td>{{ target.port }}</td>
</tr>
<tr>
    <td>AET Target:</td>
    <td>{{ target.aet_target }}</td>
</tr>
<tr>
    <td>AET Source:</td>
    <td>{{ target.aet_source }}</td>
</tr>
<tr>
    <td>TLS Key:</td>
    <td>{{ target.tls_key }}</td>
</tr>
<tr>
    <td>TLS Certificate:</td>
    <td>{{ target.tls_cert }}</td>
</tr>
<tr>
    <td>CA Certificate:</td>
    <td>{{ target.ca_cert }}</td>
</tr>
