<tr>
    <td>Type:</td>
    <td>DICOM Node</td>
</tr>
<tr>
    <td>Host/IP:</td>
    <td>{{ target.ip }}</td>
</tr>
<tr>
    <td>Port:</td>
    <td>{{ target.port }}</td>
</tr>
<tr>
    <td>AET Target:</td>
    <td>{% if target.pass_receiver_aet %}<span class="tag is-dark">Incoming Receiver AET</span>{% else %}{{ target.aet_target }}{% endif %}</td>
</tr>
<tr>
    <td>AET Source:</td>
    <td>{% if target.pass_sender_aet %}<span class="tag is-dark">Incoming Sender AET</span>{% else %}{{ target.aet_source }}{% endif %}</td>
</tr>
<tr>
    <td>TLS Key:</td>
    <td>{{ target.tls_key }}</td>
</tr>
<tr>
    <td>TLS Certificate:</td>
    <td>{{ target.tls_cert }}</td>
</tr>
<tr>
    <td>CA Certificate:</td>
    <td>{{ target.ca_cert }}</td>
</tr>
