<tr>
    <td>Type:</td>
    <td>DICOM Node</td>
</tr>
<tr>
    <td>Host/IP:</td>
    <td>{% if target.ip == 'sender' %}<i class="fas fa-exchange-alt fa-lg"></i>&nbsp; Loop back to sender{% else %}{{ target.ip }}{% endif %}</td>
</tr>
<tr>
    <td>Port:</td>
    <td>{{ target.port }}</td>
</tr>
<tr>
    <td>AET Target:</td>
    <td>{{ target.aet_target }}</td>
</tr>
<tr>
    <td>AET Source:</td>
    <td>{{ target.aet_source }}</td>
</tr>
<tr>
    <td>Pass Sender AET:</td>
    <td>{{ target.pass_aet }}</td>
</tr>